contactapp/__pycache__
baoiam/__pycache__
core/__pycache__
dashboard/__pycache__
userauths/__pycache__
course/__pycache__
*.pyc
/db.sqlite3
.gitignore
/media
db.sqlite3
db.sqlite3
*db.sqlite3
userauths/migrations/0002_alter_dashboard_user_bio.py
userauths/migrations/0003_alter_dashboard_user_fname_and_more.py
