contactapp/__pycache__
baoiam/__pycache__
core/__pycache__
dashboard/__pycache__
userauths/__pycache__
course/__pycache__
*.pyc
/db.sqlite3
.gitignore
/media
db.sqlite3
db.sqlite3
*db.sqlite3
course/migrations/0002_testimonial.py
course/migrations/0003_alter_testimonial_image.py
itie/migrations/0002_alter_testimonial_designation_alter_testimonial_name_and_more.py
static/wep/css/style.css
