contactapp/__pycache__
baoiam/__pycache__
core/__pycache__
dashboard/__pycache__
userauths/__pycache__
course/__pycache__
*.pyc

course/migrations/0001_initial.py
course/migrations/0002_remove_course_author_remove_course_featured_image_and_more.py
course/migrations/0003_course_price.py
course/migrations/0004_alter_course_slug_alter_course_status_and_more.py
course/migrations/0005_alter_course_slug_alter_course_status_and_more.py
dashboard/migrations/0001_initial.py
dashboard/migrations/0002_dashboarduser_db_email.py
dashboard/migrations/0003_delete_dashboarduser.py
userauths/migrations/0001_initial.py
userauths/migrations/0002_user_bio.py
userauths/migrations/0003_dashboard_user_delete_user.py
userauths/migrations/0004_remove_dashboard_user_address_and_more.py
userauths/migrations/0005_employee.py
/db.sqlite3
contactapp/migrations/0001_initial.py
media/course_images
contactapp/migrations/0001_initial.py
core/migrations/0001_initial.py
contactapp/migrations/0001_initial.py
contactapp/migrations/0001_initial.py
media/course_videos/All_About_Django_Forms__Part_1__Django_Forms_Tutorial.mp4
core/migrations/0001_initial.py
core/migrations/0001_initial.py
course/migrations/0002_course_duration_field_course_watch_percent.py

blog/migrations/0001_initial.py
