/* {% load static %} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", "sans-serif", "Londrina Outline";
}


.popup-form {
  position: fixed;
  height: 400px;
  width: 700px;
  left: 20%;
  top: 40%;
  z-index: 3;
  background-color: white;
  padding: 10px;
  box-shadow: 2px 2px 4px 2px gray;
  display: none;
}

.popup-form-content {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  gap: 10px;
}
.popup-form .close {
  font-size: 40px;
  display: flex;
  margin-right: 30px;
  justify-content: flex-end;
}
.popup-form .close:hover {
  cursor: pointer;
}
.popup-form input {
  width: 70%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: 1px solid gray;
}
.popup-submit {
  width: 60px;
  height: 30px;
  margin-top: 10px;
}

/* --------------------------- SECTION ONE ------------------------------ */

.section-one {
  margin: 0 auto;
  position: relative;
  /* background-image: url("../static/itie/img/img1.avif"); */
  height: 90vh;
  width: 80vw;
  background-repeat: no-repeat;
}
.section-one div {
  display: flex;
  flex-direction: column;
  height: 90%;
  padding: 6rem 0 0 8rem;
}
.section-one h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.section-one span {
  /* color: orangered; */
  background: -webkit-linear-gradient(90deg, #fb8721, #fa2424);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-one .line {
  position: absolute;
  left: 20rem;
  top: 9.5rem;
  width: 260px;
  border: 4px solid gold;
  border-color: gold transparent transparent transparent;
  border-radius: 100%/100px 100px 0 0;
}
.section-one h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #404040;
}
.section-one p {
  font-size: 1.2rem;
  color: #777;
  width: 28rem;
  font-weight: 500;
  line-height: 1.5;
}

.section-one .button-one {
  width: 22rem;
  padding: 0.9rem 2rem;
  border-radius: 5px;
  border: none;
  background: linear-gradient(90deg, #fb8721, #fa2424);
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  position: absolute;
  bottom: -1.5rem;
  cursor: pointer;
}
.section-one .button-two {
  width: 7rem;
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  border: none;
  background: linear-gradient(90deg, #fb8721, #fa2424);
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  position: absolute;
  right: 3.7rem;
  bottom: -1.4rem;
  letter-spacing: 1px;
  cursor: pointer;
}
.section-one input {
  width: 28rem;
  border: 1px solid #999;
  border-radius: 50px;
  padding: 1.3rem 2rem;
  position: absolute;
  bottom: -1.8rem;
  right: 3rem;

  &::placeholder {
    display: flex;
    font-size: 0.9rem;
    font-weight: 600;
    color: #999;
  }
}

/* --------------------------- SECTION TWO ------------------------------ */

.section-two {
  position: relative;
  display: flex;
  margin: 6rem 0 4rem 0;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
}
.section-two h2 {
  background: -webkit-linear-gradient(30deg, #fb8721, #fa2424);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.section-two p {
  font-size: 1.2rem;
  color: #777;
  width: 36rem;
  font-weight: 500;
  line-height: 1.8;
  text-align: left;
}
.section-two h6 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 1.5rem;
}
.section-two img {
  height: 310px;
  border-radius: 25px;
  z-index: 1;
}
.section-two .circle_one {
  position: absolute;
  top: -80px;
  right: 130px;
  height: 80px;
  width: 80px;
  background-color: #ff910b73;
  border-radius: 50px;
}
.section-two .circle_two {
  position: absolute;
  top: 0px;
  right: 190px;
  height: 40px;
  width: 40px;
  background-color: #ff910b73;
  border-radius: 50px;
}

/* --------------------------- SECTION THREE ------------------------------ */

.section-three {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #fff7ed;
  padding-bottom: 4rem;
}
.section-three h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  padding: 3rem 0 0 13rem;
}
.section-three span {
  background: -webkit-linear-gradient(30deg, #fb8721, #fa2424);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-three ul {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  width: 60rem;
  row-gap: 1.8rem;
  column-gap: 6rem;
  text-align: center;
  padding-left: 6rem;
}
.section-three li {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 20rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #999;
}
.section-three .divide {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 15rem;
}
.section-three .fa-solid {
  color: orangered;
  font-size: 1.4rem;
}
.section-three h4 {
  font-size: 1.1rem;
  font-weight: 700;
}
.section-three p {
  color: #777;
  font-weight: 500;
}

/* --------------------------- SECTION FOUR ------------------------------ */

.section-four h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  padding: 3rem 0 0 13rem;
}
.section-four .cards_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 0 auto;
  margin-top: 3rem;
  width: 80rem;
}
.section-four .cards {
  display: flex;
  flex-direction: column;
  height: 26rem;
  width: 19rem;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 1px 1px 8px 0px rgb(100, 100, 111);
  justify-content: space-between;
  cursor: pointer;
}
.section-four img {
  height: 180px;
  border-radius: 10px;
}
.section-four h4 {
  font-size: 1.3rem;
  font-weight: 600;
}
.section-four h6 {
  font-size: 1rem;
  color: #555;
  font-weight: 600;
}
.section-four p {
  color: #555;
  font-weight: 500;
}
.section-four .timing p {
  text-align: right;
  color: orangered;
  font-size: 1rem;
  font-weight: 600;
}

/* --------------------------- SECTION FIVE ------------------------------ */

.section-five {
  margin: 0 auto;
  max-width: 1060px;
  width: 100%;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.section-five h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding-top: 3rem;
  background: -webkit-linear-gradient(30deg, #fb8721, #fa2424);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateX(-120px);
}
.section-five .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 14px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  border-radius: 8px;
  gap: 20px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  align-items: center;
  height: 25rem;
  overflow: hidden;
}

.section-five .testimonials {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 21rem;
  list-style: none;
  background: #fff;
  justify-content: space-around;
  border-radius: 15px;
  padding: 1rem 2rem;
  border: 1px solid orangered;
  box-shadow: 0px 7px 10px 0px rgba(100, 100, 111, 0.2);
  justify-items: center;
}

.section-five .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-five img {
  height: 110px;
  width: 130px;
  border-radius: 50%;
  margin-bottom: 0.8rem;
}
.section-five h4 {
  color: #606060;
  font-size: 1.3rem;
  font-weight: 600;
}
.section-five h6 {
  font-size: 1rem;
  color: #999;
  font-weight: 600;
}
.section-five p {
  color: #999;
  font-weight: 500;
}
.section-five i {
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: -webkit-linear-gradient(45deg, #ff0000, #ff8000);
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.section-five i:active {
  transform: translateY(-50%) scale(0.85);
}
.section-five .carousel #right {
  right: -5rem;
}
.section-five .carousel #left {
  left: -6rem;
}

/* --------------------------- SECTION SIX ------------------------------ */

.section-six {
  background-color: #fff7ed;
  height: 40rem;
}
.section-six h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: 3rem 0 0 13rem;
}

.section-six span {
  background: -webkit-linear-gradient(30deg, #fb8721, #fa2424);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* --------------------------- SECTION SEVEN ------------------------------ */
.section-seven {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  position: relative;
}
.circle_three {
  position: absolute;
  top: -30px;
  left: 180px;
  height: 90px;
  width: 90px;
  background-color: #ff910b73;
  border-radius: 50px;
}
.circle_four {
  position: absolute;
  top: 50px;
  left: 300px;
  height: 20px;
  width: 20px;
  background-color: #ff910bb2;
  border-radius: 50px;
}
.section-seven h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  padding-top: 1.5rem;
}
.section-seven h2 span {
  background: -webkit-linear-gradient(30deg, #fb8721, #fa2424);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2rem;
  -webkit-text-fill-color: transparent;
}

.section-seven .carousel-two {
  display: flex;
  height: 24rem;
  justify-content: center;
  align-items: center;
  gap: 50px;

  /* FOR CAROUSERL */

  /* display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 30px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    border-radius: 8px;
    gap: 43px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    align-items: center;
    height: 24rem;
    overflow: hidden;
    justify-items: center; */
}

.section-seven .plans {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 20rem;
  list-style: none;
  background: #fff;
  cursor: pointer;
  border-radius: 15px;
  padding: 1.5rem 1rem;
  border: 1px solid rgba(128, 128, 128, 0.493);
  box-shadow: 0px 0px 10px 0px rgba(100, 100, 111, 0.2);
  justify-content: space-between;
}

.section-seven div h4 {
  color: #777;
  font-size: 1.5rem;
  font-weight: 600;
}
.section-seven div h6 {
  font-size: 0.9rem;
  color: #777;
  font-weight: 600;
  margin-top: 0.5rem;
}
.section-seven div h6 span {
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
  color: #777;
  font-weight: 600;
}
.section-seven ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: #555;
  font-weight: 600;
}
.section-seven button {
  width: 15rem;
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  border: none;
  background: linear-gradient(90deg, #fb8721, #fa2424);
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  right: 3.7rem;
  bottom: -1.4rem;
  letter-spacing: 1px;
  cursor: pointer;
}

/* FOR CAROUSERL */

/* .section-seven i {
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: -webkit-linear-gradient(45deg, #ff0000, #ff8000);
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .section-seven i:active {
    transform: translateY(-50%) scale(0.85);
  }
  .section-seven .carousel-two #right {
    right: -4rem;
  }
  .section-seven .carousel-two #left {
    left: -4rem;
  } */
.section-seven .schemes {
  display: flex;
  justify-content: space-around;
  width: 60rem;
  margin: 1.5rem 0 4rem 0;
}
.section-seven .easyEMI,
.payAP {
  width: 25rem;
  border: 1px solid rgba(255, 68, 0, 0.459);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}
.easyEMI h2,
.payAP h2 {
  font-size: 1.5rem;
  color: #555;
  text-align: left;
  margin: 0;
  padding-top: 0;
}
.easyEMI h6,
.payAP h6 {
  margin-top: 0;
}
.easyEMI ul {
  gap: 0.3rem;
  margin-top: 0.8rem;
  color: #777;
}
.easyEMI span,
.payAP span {
  color: lawngreen;
}
.section-seven .payAP p {
  margin-top: 0.8rem;
  color: #777;
  font-weight: 600;
}
.section-seven .circle_five {
  position: absolute;
  bottom: -50px;
  right: 30px;
  height: 90px;
  width: 90px;
  border: 1px solid #ff910b73;
  border-radius: 50px;
}

/* --------------------------- SECTION EIGHT ------------------------------ */

.section-eight {
  background-color: #fff7ed;
}
.section-eight .deal_section {
  margin: 0 auto;
  height: 36rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
.section-eight h4 {
  font-size: 1.3rem;
  font-weight: 600;
}
.section-eight h5 {
  font-family: "Londrina Outline";
  font-size: 3rem;
  border: 1px solid orangered;
  border-radius: 5px;
  padding: 0.5rem 6rem;
  background: -webkit-linear-gradient(30deg, #fb8721, #fa2424);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.2rem;
}
.section-eight .boxes {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  text-align: center;
}
.section-eight .off {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid orangered;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  height: 7rem;
  width: 15rem;
}
.section-eight p {
  color: #555;
  font-weight: 500;
}
.section-eight .off {
  & p {
    font-size: 0.9rem;
    color: #777;
    font-weight: 500;
  }
  & h6 {
    font-size: 1rem;
    color: #000000b7;
  }
  & span {
    font-size: 1.5rem;
    color: #000000be;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
}
.section-eight .on {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid orangered;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  height: 7rem;
  width: 15rem;
}
.on {
  background: linear-gradient(90deg, #fb8721, #fa2424);
  & p {
    font-size: 0.9rem;
    font-weight: 500;
    color: #fff;
  }
  & h6 {
    font-size: 1rem;
    color: #fff;
  }
  & span {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
}

.section-eight .timer {
  margin-top: 1rem;
  width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  gap: 3rem;
}
.section-eight .timer span {
  color: brown;
  font-size: 1.2rem;
  font-weight: 700;
}
.section-eight .timer div {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.section-eight .timer div p {
  &:first-child {
    color: brown;
    font-size: 1.5rem;
    font-weight: 700;
  }
  &:nth-child(2) {
    font-size: 0.7rem;
    color: #555;
  }
}
.section-eight button {
  margin-top: 1rem;
  width: 20rem;
  padding: 0.9rem 2rem;
  border-radius: 5px;
  border: none;
  background: linear-gradient(90deg, #fb8721, #fa2424);
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  bottom: -1.5rem;
  cursor: pointer;
}

/* --------------------------- SECTION NINE ------------------------------ */

.section-nine {
  margin-bottom: 5rem;
}

.container-main {
  display: flex;

  gap: 5rem;
  justify-content: center;
}

.accordion {
  width: 72%;
  max-width: 1000px;
  margin: 2rem auto;
}

.ac-main h1 {
  font-size: 45px;
  text-align: center;
  color: #031864;
  font-weight: bold;
  margin-top: 2rem;
}

.ac-main h1 span {
  font-size: 45px;
  background: -webkit-linear-gradient(45deg, #fa2424, #fb8721);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accordion-item {
  background-color: #fff;
  color: #050237;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;

  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header:hover {
  color: rgb(251, 96, 13);
  font-size: 1.05rem;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: rgb(99, 99, 99);
  font-weight: 500;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.accordion-item-body-content ul {
  margin: 0 15px;
}

.img {
  width: 100%;
  margin: 100px 0;
}

.img img {
  width: 600px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 5px;
}
