/* SIDEBAR */

.subscribe {
    width: 1100px;
    height: 200px;
  }
  .containerr {
    display: flex;
    /* width: 100vw; */
  }
  
  .sidebarrr {
    height: 100vh;
    width: 270px;
    padding: 10px 0 40px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 20px;
    color: rgb(94, 94, 94);
    /* border-right: 2px solid #cecccc; */
    position: sticky;
    margin-top: 12%;
    bottom: 0;
    padding-top: 1%;
  }
  
  .sidebarrr_ul {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    list-style: none;
    width: 9rem;
  }
  
  .sidebarrr_ul li {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgb(6, 0, 56);
    font-weight: 600;
    width: 200px;
    border-left: 1px solid rgb(6, 0, 56);
    padding-left: 8px;
  }
  
  .sidebarrr_ul li:hover {
    font-weight: bold;
    color: #fa3c23;
    border-left: 4px solid #fa3c23;
    padding-left: 8px;
  }
  
  .bottom_line {
    border-bottom: 1px solid grey;
    width: 100px;
  }
  
  .sidebarrr_ul li:nth-child(2) {
    margin-top: 20%;
  }
  .baoiam_img {
    margin-left: 25px;
  }
  /* SIDEBAR */