* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --color-orange: linear-gradient(45deg, #fa2424, #ed7e1e);
  --color-white: #ffffff;
  --box-shadow: 0px 0px 50px 0px rgb(0 0 0/10%);
}

.orange-color {
  position: relative;
  background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.center-align {
  justify-content: center;
  margin: auto;
}

.underline {
  position: relative;
  background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid rgb(245, 69, 0);
  margin-bottom: 3rem;
  font-weight: bold;
}

.popup-form {
  position: fixed;
  height: 450px;
  width: 400px;
  left: 40%;
  top: 23%;
  z-index: 3;
  background-color: white;
  padding: 5px;
  box-shadow: 2px 2px 4px 2px gray;
  display: none;
}

.popup-form-content {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  gap: 6px;
}

.popup-form .close {
  font-size: 40px;
  display: flex;
  margin-right: 30px;
  justify-content: flex-end;
}

.popup-form .close:hover {
  cursor: pointer;
}

.popup-form input,
.popup-form option,
.popup-form select {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: 1px solid gray;
}

.popup-submit {
  width: 70px;
  height: 30px;
  margin-top: 10px;
  padding: 2px;
  border: 1px 1px solid orangered !important;
  background-color: transparent;
  border-radius: 6px;
}

@media screen and (max-width: 680px) {
  .popup-form {
    left: 20%;
  }
}

@media screen and (max-width: 520px) {
  .popup-form {
    left: 10%;
    width: 250px;
  }

  .popup-form input,
  .popup-form option,
  .popup-form select {
    width: 90%;
  }
}

.topsection1-container {
  padding: 70px 60px 10px 60px;
  /* background-color: rgb(248, 226, 230); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
  text-align: justify;
  /* box-shadow: 2px 2px 4px 2px rgb(161, 160, 160); */
  margin: 30px;
}

.topsection1-content {
  width: 50%;
  display: flex;
  padding: 50px 80px 50px 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topsection1-content>h1 {
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 50px;
  line-height: 4.4rem;
  text-align: left;
  color: rgb(1, 1, 68);
}

.topsection1-content>h1>span {
  /* color: orangered;
  position: relative; */
  background: -webkit-linear-gradient(30deg, #fb8721, #fa2424);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topsection1-content>h1>span:after {
  content: "";
  position: absolute;
  top: 51px;
  left: 5px;
  height: 50px;
  width: 100%;
  border: solid 2px orangered;
  border-color: orangered transparent transparent transparent;
  border-radius: 50%;
}

.topsection1-content>p {
  font-size: 19px;
  line-height: 2rem;
  margin-bottom: 50px;
}

.topsection1-input {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border-radius: 40px;
  width: 500px;
  padding: 2px 16px 2px 16px;
  border: 1px solid gray;
  margin-bottom: 50px;
}

.topsection1-input>span {
  color: gray;
  font-size: 40px;
}

.topsection1-input>input {
  outline: 0;
  border: 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.topsection1-input>button {
  width: 180px;
  height: 60px;
  border-radius: 40px;
  color: white;
  background-color: orangered;
  border: none;
  font-size: large;
}

.topsection1-countpart {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.topsection1-countpart h3 {
  font-size: 20px;
  text-align: center;
}

.topsection1-countpart .first {
  color: rgb(241, 225, 12);
  font-size: 2.2rem;
  margin-bottom: 5px;
}

.topsection1-countpart .second {
  color: rgb(42, 42, 255);
  font-size: 2.2rem;
  margin-bottom: 5px;
}

.topsection1-countpart .third {
  color: orangered;
  font-size: 2.2rem;
  margin-bottom: 5px;
}

.topsection1-image {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 20px 30px;
}

.topsection1-image>img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.topsection1-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topsection1-button .interested {
  height: 70px;
  width: 300px;
  margin-bottom: 40px;
  background: -webkit-linear-gradient(30deg, #fb8721, #fa2424);
  border-radius: 20px;
  color: white;
  font-size: 1.2rem;
  border: none;
}

.topsection1-button .broucher {
  height: 70px;
  width: 300px;
  font-size: 1.2rem;
  border: 1px solid orangered;
  border-radius: 20px;
  background-color: transparent;
  font-weight: 600;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.topsection-head-content {
  box-shadow: 2px 2px 4px 2px orangered;
  padding: 40px;
  /* margin-top: 50px; */
}

.topsection-head {
  padding: 60px 30px 30px 30px;
  margin: 4.3rem;
}

.second-section-container {
  box-shadow: 5px 5px 5px 4px rgb(180, 179, 179);
  /* flex-wrap: wrap; */
  border-radius: 10px;
  margin: 4rem 4rem 6rem 4rem;
  display: flex;
  padding: 2rem;
}

/* .second-section-container {
  width: 100%;
} */
.second-section-div1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-section-div1 img {
  width: 80%;
  text-align: center;
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-section-div2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: relative; */
  /* top:11vh; */
  /* left:5%; */
}

.second-section-div2>div {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.second-section-div2>div {
  padding-right: 40px;
}

.second-section-div2 h3 {
  font-weight: 600;
  /* color: orangered; */
}

.second-section-div2 h1 {
  text-align: left;
  font-weight: 700;
  color: rgb(1, 1, 68);
}

.btn-33 {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 10px 10px;
  background: -webkit-linear-gradient(45deg, #ff0000, #ff8000);
  -webkit-text-fill-color: #ffffff;
  border: none;
  border-radius: 10px;
  transition: 3s;
  cursor: pointer;
  text-align: center;
  width: 250px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.btn-332 {
  margin-left: 5%;
  background-color: transparent !important;
  border: 1px 1px solid orangered;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  color: orangered !important;
  box-shadow: 2p 2px 4px solid rgb(177, 177, 177);
}

@media screen and (max-width: 1280px) and (min-width: 968px) {
  .btn-33 {
    width: 300px;
    padding: 8px 8px;
  }

  .btn-332 {
    margin-left: 12px;
  }
}

@media screen and (max-width: 967px) {
  .second-section-div1 {
    width: 100%;
    /* position: relative;
    right: 8%; */
  }

  .flex-row-1 {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  .second-section-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }

  /* .second-section-div2 {
    width: 38%;
    left: 32%;
    top: 3vh;
  } */
  .btn-33 {
    width: 200px;
  }

  .btn-332 {
    margin-left: 1px;
  }

  .second-section-div2 h3 {
    font-weight: 600;
    font-size: 1rem;
  }

  .second-section-div2 h1 {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .second-section-div1 img {
    width: 40%;
  }

  .second-section-container {
    margin-bottom: 5%;
    padding: 0;
  }
}

/* @media screen and (max-width: 390px) {
  .second-section-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
} */

/* @media screen and (max-width: 768px) {
  .second-section-div1 {
    width: 20%;
    position: relative;
    right: 8%;
  }

  .second-section-div2 {
    width: 98%;
    top: 3vh;
    position: relative;
    left: 3%;
    text-align: center;
  }
  .btn-33 {
    width: 200px;
    position: relative;
  }
  .second-section-div2 h3 {
    font-weight: 600;
    font-size: 1rem;
  }
  .second-section-div2 h1 {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .second-section-div1 img {
    width: 280%;
    position: relative;
    left: 15vh;
  }
  .second-section-container {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
  }
} */
/* @media screen and (max-width: 565px) {
  .second-section-div1 {
    width: 25%;
    position: relative;
    right: 25%;
  }

  .second-section-div2 {
    width: 98%;
    top: 3vh;
    position: relative;
    left: 3%;
    text-align: center;
  }
  .btn-33 {
    width: 200px;
    position: relative;
  }
  .second-section-div2 h3 {
    font-weight: 600;
    font-size: 1rem;
  }
  .second-section-div2 h1 {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .second-section-div1 img {
    width: 280%;
    position: relative;
    left: 14vh;
  }
  .second-section-container {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  .second-section-div2 > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
} */

/* @media (max-width: 1140px) {
  .topsection1-content .info {
    margin-top: 20px;
  }
} */

/* @media (max-width: 600px) {
  .topsection-head {
    padding: 70px 0px 0px 0px;
    box-shadow: none;
    border: none;
    margin: 0;
  }

  .topsection-head-content {
    box-shadow: none;
  }

  .topsection1-container {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
} */

.three .image>img {
  width: 250px;
  height: 250px;
}

@media (max-width: 768px) {
  .topsection1-container {
    flex-direction: column;
    padding: 30px;
  }
  .topsection1-content>h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    margin-top: 12%;
  }  
  .topsection1-content {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  
  .topsection1-content>p {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .topsection1-image {
    width: 100%;
    padding: 0;
  }

  .topsection1-image>img {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .topsection1-input {
    width: 100%;
    margin-bottom: 30px;
  }

  .topsection1-input>input {
    width: 70%;
  }

  .topsection1-input>button {
    width: 100%;
    margin-top: 10px;
  }

  .topsection1-countpart {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .flex-row-1 {
    display: flex;
    flex-direction: column !important;
  }
}

@media (max-width: 576px) {
  .topsection1-content>h1 {
    font-size: 2rem;
  }

  .topsection1-content>p {
    font-size: 14px;
  }


  .topsection1-image>img {
    width: 250px;
    height: 250px;
  }

  .flex-row-1 {
    display: flex;
    flex-direction: column !important;
  }

  .btn-332 {
    font-size: 18px;
  }

  /* .second-section-container {
    margin: 3rem 0rem 6rem 0rem;
  } */
}

@media (max-width: 460px) {
  .topsection1-image>img {
    width: 200px;
    height: 200px;
  }

  .topsection-head-content>h1 {
    font-size: 2.6rem;
  }

  .topsection1-button .interested {
    width: 250px;
  }

  .topsection1-button .broucher {
    width: 250px;
  }

  /* .section; */
}

@media (max-width: 320px) {

  .btn-33 {
    width: 95% !important;
    font-size: 14px;
    /* margin-left: 16px; */
  }

  .second-section-div2>div {
    padding-left: 0;
    padding-right: 0;
  }

  .flex-row-1 {
    display: flex;
    flex-direction: column !important;
  }

  .btn-332 {
    font-size: 13px;
    /* margin-left:12px; */
    padding: 5px;
  }

  .second-section-div2 {
    width: 70%;
  }

  .three h3 {
    font-size: 30px !important;
    /* padding-top: 6rem; */
  }

  .why-web-dev-box .why-web-dev {
    width: 95% !important;
  }

  .three .image>img {
    width: 271px !important;
    height: 307px !important;
    /* padding-top: 4rem; */
  }
}

/* # section three */

/* --------------------------- SECTION THREE ------------------------------ */

.section-three {
  margin: 6rem auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #fff7ed;
  padding-bottom: 4rem;
  justify-content: center;
}

.section-three h2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 5rem;
  padding-top: 20px;
  padding: 3rem 0 0 0rem;
  text-align: center;
  color: #040052;
}

.section-three span {
  background: -webkit-linear-gradient(30deg, #fb8721, #fa2424);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-three ul {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  width: 80rem;
  row-gap: 1.8rem;
  column-gap: 6rem;
  text-align: left;
  padding-left: 6rem;
  justify-items: center;
}

.section-three li {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  width: 24rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #999;
  text-align: left;
}

.section-three .divide {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: auto;
  align-items: flex-start;
}

.section-three .fa-solid {
  color: orangered;
  font-size: 2.5rem;
  padding-top: 0.2rem;
}

.section-three h4 {
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(3, 3, 72);
}
.swiper-pagination.swiper-pagination-clickable{
  width: 80px;
  position: relative;
  bottom: 0%;
  padding-top: 2%;
}
.section-three p {
  color: #777;
  font-weight: 500;
  font-size: 1.1rem;
}

@media (max-width: 1250px) {
  .section-three ul {
    width: 60rem;
    column-gap: 1.5rem;
    padding-left: 2rem;
    grid-template-columns: 0.8fr 0.8fr;
  }

  .section-three li {
    font-size: 8px;
    gap: 1.5rem;
    width: 25rem;
    padding-bottom: 0.5rem;
  }
}

@media (max-width: 1060px) {
  .section-three ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
  }
}

@media (max-width: 560px) {
  .section-three h2 {
    padding: 40px;
  }
}

@media (max-width: 420px) {
  .section-three li {
    font-size: 12px;
    justify-content: center;
    width: 250px;
    text-align: left;
  }

  .section-three h2 {
    padding: 20px;
  }
}

@media (max-width: 370px) {
  .section-three ul {
    font-size: 0.6rem;
  }

  .section-three .fa-solid {
    font-size: 1.5rem;
  }
}

/* section two */

.three {
  margin-bottom: 40px;
  /* padding-left: 100px ; */
}

.why-web-dev-box {
  display: flex;
  margin: 8rem 5.6rem;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 4px 2px orangered;
  padding: 20px;
  padding-top: 40px;
}

#why-web-dev-heading-2 {
  display: none;
}

.why-web-dev>p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.why-web-dev {
  width: 50%;
}

.image {
  width: 50%;
  text-align: center;
}

.three .image>img {
  width: 70%;
  height: 70%;
  border-radius: 10px;
}

.three h3 {
  font-size: 3rem;
  margin-bottom: 4rem;
  font-weight: bold;
  color: #040052;
  text-align: center;
}

.why-web-dev-box .why-web-dev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  align-items: center;
}

.why-web-dev-box p {
  font-size: 15px;
  font-weight: 500;
  color: #5e5e5e;
  width: 400px;
  margin-bottom: 1.5em;
}

.why-web-dev-box .heading {
  font-size: 25px;
  font-weight: 700;
  color: #040052;
  margin-bottom: 0.2em;
}

.why-web-dev-box img {
  width: 100%;
  aspect-ratio: 16/14;
}

/* curriculum */
.seven {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seven h1 {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
  font-weight: bold;
  color: #040052;
}

.curriculum {
  width: 97%;
  max-width: 1000px;
}

.curriculum h2 {
  padding: 0.6rem;
  border-radius: 10px 10px 0 0px;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 1px 0px 2px grey;
  cursor: pointer;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0 !important;
}

.curriculum h2.active {
  background-color: orangered;
  /* background-color: rgb(1, 1, 68) !important; */
  color: white;
}

.curriculum-item-body {
  padding: 12px 18px;
  padding-top: 20px;
  font-weight: 500;
  box-shadow: 1px 2px 5px rgb(172, 170, 170);
  display: none;
  overflow: hidden;
}

.curriculum-item-body-content {
  font-size: 16px;
}

.accordion {
  width: 100%;
  max-width: 1000px;
}

.accordion-body {
  font-size: 16px;
}

footer i {
  color: white;
}

footer p {
  color: white;
}

.fa-xmark {
  font-size: 2rem;
}

.navbar-toggler {
  box-shadow: none;
}

.accordion-item-header::after {
  right: 1rem;
}

.curriculum-item-header::after {
  right: 1rem;
}

.row div {
  margin: 20px 0;
}

@media (max-width: 920px) {
  .section-three ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 0;
    width: 100%;
  }
}

@media (max-width: 360px) {
  .section-three li {
    font-size: 12px;
    justify-content: center;
    width: 200px;
  }
}

/* Testimonials */
.testimonial {
  text-align: center;
}

.testimonial-heading {
  font-size: 3rem;
  color: rgb(1, 1, 68);
  font-weight: bold;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
  margin-top: 3rem;
}

.card {
  border: 2px solid orangered;
  border-radius: 25px;
  background-color: #f9f8f6;
  box-shadow: 2px 2px 6px 2px rgb(181, 179, 179);
}

.card:hover {
  transition: all 1s ease-in-out;
}

.image-content {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 20px 20px;
  /* padding: 10px 14px; */
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: normal;
  padding: 15px 10px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* background-color: orangered; */
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 25px;
  /* background-color: orangered; */
}

.overlay::after {
  border-radius: 0 0 0 0;
  /* background-color: white; */
}

.card-image {
  position: relative;
  height: 150px;
  width: 300px;
  border-radius: 10px;
  /* background: orangered; */
  padding: 1px;
}

.card-image .card-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  /* border: 4px solid orangered; */
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: rgb(1, 1, 68);
  text-align: center;
}

.description {
  font-size: 14px;
  color: black;
  text-align: justify;
}

.swiper-navBtn {
  color: orangered;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: orange;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px;
}

.swiper-button-next {
  right: 0;
}

.swiper-slide {
  gap: 40px !important;
  height: unset !important;
}

.swiper-button-prev {
  left: 0;
}

.swiper-wrapper {
  width: 30% !important;
  /* gap: 40px !important; */
}

.swiper-pagination-bullet {
  background-color: orangered;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: orangered;
}

/* right_course */
.Right-course h2 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
  padding-top: 1.5rem;
  color: rgb(1, 1, 68);
}

.Right-course h2 span {
  background: -webkit-linear-gradient(30deg, #fb8721, #fa2424);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2.6rem;
  -webkit-text-fill-color: transparent;
}

.join_us {
  font-weight: bold;
  color: #040052;
  text-align: center;
  margin: 1.5rem;
  font-size: 3.5rem;
  line-height: 4.5rem;
}

.content .temp {
  background: -webkit-linear-gradient(30deg, #fb8721, #fa2424);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.7rem;
  font-weight: 700;
  padding-left: 2rem;
  padding-top: 1rem;
  /* padding-bottom: 1rem; */
}

.content .price {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  padding-left: 2rem;
}

.title_join_us {
  position: relative;
  background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.splide {
  visibility: visible !important;
  /* width: 1400px !important; */
}

.splide__slide {
  width: 31% !important;
  margin: 20px !important;
  display: flex;
  justify-content: center;
}

.content-box {
  /* max-width: 90%; */
  width: 90%;
  height: 100%;
  border-radius: 5%;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}

.content-box:hover {
  transform: translateY(-15px);
  background: -webkit-linear-gradient(45deg, #ff0000, #ff8000);
}

.content {
  padding: 1.5rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  color:
    rgb(1, 1, 68);
}

.courses-enroll-btn {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 80px;

}



.courses-enroll-btn input {
  display: none;
  width: 0px;
}

.enroll-btn {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 1em 1.5em;
  background: -webkit-linear-gradient(45deg, #ff0000, #ff8000);
  -webkit-text-fill-color: #ffffff;
  border: none;
  border-radius: 25px;
  transition: 0.75s;
  cursor: pointer;
  margin-top: auto;
  width: fit-content;
  /* margin-left: 6.5rem; */
  align-self: center;
  bottom: 20px;
}

.enroll-btn:hover {
  background: #ffffff;
  -webkit-text-fill-color: orangered;
}

.slide-name {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
  padding-left: 2rem;
  /* color: #5e5e5e; */
}

.name-span,
.course-content {
  font-size: 1rem;
  font-weight: bold;
  line-height: 2.5rem;
  list-style: none;
  margin-top: 2rem;
  width: fit-content;
  color: #777;
  margin-bottom: 81px;
}

.content:hover * {
  color: white !important;
}

.content:hover .temp {
  -webkit-text-fill-color: #fff;
}

.swiper {
  margin-bottom: 6rem;
}

.slider-wrapper {
  padding: 50px 15px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  max-width: 1400px !important;
}

.premium {
  background: -webkit-linear-gradient(45deg, #ff8000, #ff0000);
  height: 100%;
  border-radius: 30px;
}

.slider_wrapper .splide__pagination__page.is-active {
  background: #ff0000 !important;
  opacity: 1;
  height: 0.9rem !important;
  width: 0.9rem !important;
}

.splide_pagination_page {
  background: #ccc !important;
  border: #ff0000 solid 2px !important;
  height: 0.9rem !important;
  width: 0.9rem !important;
}

.splide__pagination {
  bottom: -2rem !important;
}

.splide__arrow {
  opacity: 0.6 !important;
  width: 2.5rem;
  height: 2.5rem;
  background-color: white !important;
  border: #ff0000 solid 2px !important;
}

.emi-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 20px;
  margin: 6rem auto;
  max-width: 1200px;
}

.emi_box {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .emi-container {
    grid-template-columns: 1fr 1fr;
  }
}

.emi {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  line-height: 2.5rem;
  /* margin: 5px; */
  color: rgb(1, 1, 68);
}

.key_features {
  font-size: 1.2rem;
  font-weight: 600;
  text-wrap: wrap;
  line-height: 1.8rem;
  list-style: none;
  margin: 0;
  margin-left: 5px;
  color: #5e5e5ee8;
}

.emi_features {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.3rem;
  list-style: none;
  margin: 0;
  color: #5e5e5e;
  padding-left: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.emi_features :before {
  content: "✓";
  color: rgb(2, 248, 2);
}

.emi_box {
  padding: 15px;
  border: #ff0000 solid 1px;
  border-radius: 30px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
  width: 100%;
}

.amazing_career {
  background-color: #fbf5ef;
  /* width: 100%; */
  margin: 2rem;
  padding-bottom: 1rem;
}

.amazing_heading {
  text-align: center;
  margin: 3rem 1rem;
  color: #040052;
  font-size: 3rem;
  font-weight: 700;
}

.amazing_heading span {
  background: -webkit-linear-gradient(30deg, #fb8721, #fa2424);
  -webkit-background-clip: text;
  background-clip: text;
  /* font-size: 2rem; */
  -webkit-text-fill-color: transparent;
}

.amazing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.awaits {
  background: -webkit-linear-gradient(30deg, #fb8721, #fa2424);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: #5e5e5ee8; */
  font-size: 3rem;
  font-weight: 700;
  /* font-size: 60px; */
  /* color: white;  */
  /* text-shadow: 1px 1px white; */
  /* text-shadow: -1px -1px #5e5e5ee8, 0.05em 0.05em white, 0.12em 0.12em #767373e8; */
  text-align: center;
  /* width: fit-content; */
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 0.3rem 7rem;
  border: #ff0000 solid 2px;
  border-radius: 20px;
}

.grab_offer {
  color: #5e5e5ee8;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .buy_course_container {
    flex-direction: column;
  }
}

@media (max-width: 540px) {
  .awaits {
    font-size: 40px;
    padding: 20px;
  }

  .btn-3 {
    font-size: 20px;
    padding: 20px;
  }
}

.buy_course_container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 20px;
  width: fit-content;
  margin-bottom: 12px;
  /* margin-left: 15rem; */
}

.buy_course_box {
  padding: 1rem 3rem;
  border: #ff0000 solid 2px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

.buy_course {
  color: rgb(3, 3, 72);
}

.off {
  text-align: center;
  color: rgb(3, 3, 72);
  font-size: 1.5rem;
  margin: 1rem;
}

.percentage {
  /* color: #5e5e5ee8;
  font-size: 2.5rem;
  font-weight: 500;
  text-shadow: -1px -1px #5e5e5ee8, 0.05em 0.05em white, 0.12em 0.12em #767373e8; */
  background: -webkit-linear-gradient(30deg, #fb8721, #fa2424);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: #5e5e5ee8; */
  font-size: 3rem;
  font-weight: 700;
}

.buy_3course_box {
  padding: 1rem 3rem;
  border: #ff0000 solid 2px;
  background: -webkit-linear-gradient(45deg, #ff8000, #ff0000);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

.buy_3course {
  color: #fff;
}

.off_3 {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin: 1rem;
}

.percentage_3 {
  /* color: #5e5e5ee8;
  font-size: 2.5rem;
  font-weight: 500;
  text-shadow: -1px -1px #5e5e5ee8, 0.05em 0.05em white, 0.12em 0.12em #767373e8; */
  background: -webkit-linear-gradient(30deg, #fb8721, #fa2424);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: #5e5e5ee8; */
  font-size: 3rem;
  font-weight: 700;
}

.btn-3 {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 40px;
  background: -webkit-linear-gradient(45deg, #ff0000, #ff8000);
  -webkit-text-fill-color: #ffffff;
  border: none;
  border-radius: 10px;
  transition: 3s;
  cursor: pointer;
  text-align: center;
  /* width: fit-content; */
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}

@media screen and (max-width: 1140px) {

  .topsection1-container,
  .why-web-dev-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .topsection1-image>img {
    width: 320px !important;
    height: 320px !important;
  }

  .topsection1-countpart div {
    width: 80%;
  }

  .topsection1-countpart {
    width: 60%;
    flex-direction: row;
    font-size: 12px !important;
    gap: 20px;
  }

  .topsection1-content {
    width: 70%;
  }

  .second-section-div2 h1 {
    text-align: center;
  }

  .second-section-div2>div {
    text-align: center;
  }

  /* .topsection1-content>h1 {
    padding-top: 45px;
    line-height: 68px;
  } */
  .why-web-dev-box .why-web-dev {
    width: 100%;
  }

  .three .image {
    width: 100%;
  }

  .three .image>img {
    width: 40%;
    height: 40%;
    /* margin-bottom: 20px; */
  }

  .topsection1-content>h1 {
    width: 160%;
    text-align: center;
    line-height: 50px;
  }

  .topsection1-content>p {
    width: 150%;
  }
}

.three h3 {
  text-align: center;
}


.why-web-dev-box p {
  text-align: justify;
  margin-left: 2.5rem;
}


@media screen and (max-width: 768px) {
  .why-web-dev-box {
    padding: 0;
    margin: 10px;
    margin-top: 8rem;
    padding: 2rem 0;
    /* box-shadow: none; */
  }

  .three h3 {
    /* padding-top: 5rem; */
    font-size: 43px;
    /* padding-bottom: 2rem; */
  }

  .why-web-dev-box .why-web-dev {
    width: 90%;
  }

  .image {
    width: 100%;
    /* font: optional;t */
  }

  .three .image>img {
    width: 70%;
    height: 70%;
    /* padding-top: 6rem; */
    /* margin-bottom: 4rem; */
  }

  .two ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .curriculum {
    width: 92%
  }

  .testimonial-heading {
    padding-bottom: 3rem;
    padding-top: 5rem;
  }
}

/* @media (min-width: 500px) and(max-width:800px){
  .topsection1-content>h1 {
    padding-top: 45px !important;
    line-height: 68px !important;
  }
} */


@media (max-width:474px) {

  .why-web-dev-box {
    width: 90% !important;
    /* margin-left: 28px !important; */
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    box-shadow: none;
  }

  .why-web-dev-box .why-web-dev {
    width: 80%;
  }

  .why-web-dev-box .why-web-dev h5 {
    font-size: 13px;
  }

  /* .three .image > img{
    padding-bottom: 3rem;
    padding-top: 2rem;
  } */

  .second-section-container {
    width: 90%;
    margin-left: 19px;

  }
}
  .why-web-dev-box .why-web-dev h5 {
    color: #777;
  }


@media (min-width:770px) and (max-width:918px) {
  .three .image>img {
    width: 340px;
    height: 378px;
    padding-bottom: 2rem;
  }

  .why-web-dev-box .why-web-dev {
    padding-bottom: 3rem;
  }
}


@media (min-width:380px) {

  .three h3,
  .section-three h2,
  .seven h1,
  .testimonial-heading,
  .Right-course h2,
  .amazing_heading,
  .ac-main h1 {
    font-size: 2.2rem;
  }
}
@media (min-width:770px) and (max-width:952px) {
  .topsection1-content {
    width: 70% !important;
    padding: 0px !important;
  }  
  .why-web-dev div h5{
    font-size: 1rem !important;
  }
  #why-web-dev-heading-1{
    font-size: 1.8rem;
  }
}
.popup-form-content input,
.popup-form-content select{
  box-shadow: 1.2px 1.5px 0.7px #777 !important;
  
}
.popup-submit{
  font-size: 1rem;
  font-weight: 600;
  width: 100px;
  height: 40px;
  background: -webkit-linear-gradient(45deg, #ff0000, #ff8000);
  -webkit-text-fill-color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: 3s;
  align-items: center;
  text-align: center;
}
@media (min-width:451px) and (max-width:1140px){
   .first-h3{
    width: 160%;
    margin-right: 20px;
   }
   .class-1st .first{
    margin-left: 50%;
   }
   .class-1st{
    position: relative;
    right:15%;
   }

   .section-three {
    margin: 3rem auto;
   } 
   .testimonial-heading {
    padding-top: 0rem;
  }
  .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
     bottom: 0px !important;
  }  
  .slide-container.swiper{
    margin-bottom: 3rem !important;
  }
  .Right-course h2, .Right-course .underline{
    font-size: 2rem !important;
  }
  .three .image>img {
    padding-top: 3rem;
  }
  .second-section-div2 h3 {
    font-size: 1.5rem;
  }
  .section-three {
    margin: 6rem auto;
  }
  .content-box {
    width: 100%;
  }  
}

@media (max-width:450px) {
  .topsection1-content>h1 {
    font-size: 22px;
    line-height: 40px;
    position: relative;
    top: 7vh;
    width: 180%;
    text-align: center;
  }

  .topsection1-content>h1>span:after {
    visibility: hidden;
  }

  .topsection1-content>p {
    font-size: 12px;
    width: 180%;
    line-height: 25px;
    margin-top: 15%;
  }

  .topsection1-countpart h1 {
    font-size: 33px !important;
  }

  .topsection1-countpart .first,
  .topsection1-countpart .second,
  .topsection1-countpart .third {
    font-size: 22px !important;
  }
  .topsection1-button .interested {
    margin-bottom: 20px;
  }

  .first-h3{
    width:130%;
    padding-right: 52px;
    position: relative;
    left: 10%;
  }
  .class-1st {
    position: relative !important;
    left: -6% !important;
  }  

  .topsection1-countpart h3 {
    font-size: 12px !important;
  }
  .topsection1-button .interested,
  .topsection1-button .broucher  {
    width: 160px;
    font-size: 13px;
    height: 50px;
    text-align: center;
  }
  .topsection1-container {
    padding-bottom: 8px;
  }
  .topsection1-button .broucher {
    font-size: 13px !important;
    font-weight: 700;
  }
  .topsection1-countpart div {
    width: 150% !important;
    position: relative;
    right:15%;
  }

  .topsection1-image>img {
    width: 250px !important;
    height: 250px !important;
  }

  .topsection1-button .broucher {
    font-size: 10px !important;
  }
  .three .image>img {
    margin-top: 1rem;
  }  
  .second-section-div2 div p {
    text-align: center;
    font-size: 11px;
  }

  .second-section-div2 div h1 {
    text-align: center;
    font-size: 22px;
  }

  .second-section-div2 div h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 0px !important;
  }
  .btn-33 {
    width: 120px;
    font-size: 14px !important;
  }

  .second-section-div2 div {
    padding-bottom: 5px !important;
  }

  .second-section-container {
    margin-top: 10px;
    gap: 5px;
  }

  .why-web-dev-box {
    margin-top: 0px !important;
    margin-bottom: -30px !important;
  }

  .why-web-dev-box h3 {
    width: 150% !important;
    font-size: 25px;
    margin-bottom: 30px;
  }

  .why-web-dev-box .why-web-dev h5 {
    font-size: 14px;
    color: #777;
  }

  .section-three {
    margin: 0rem !important;
  }

  .section-three h2 {
    font-size: 24px;
    margin-bottom: 4px !important;
  }

  .section-three .fa-solid {
    font-size: 1.5rem;
  }

  .section-three h4 {
    font-size: 16px;
    width: 140%;
    margin-top: 7px;
  }
  .enroll-btn {
    font-size: 1rem;
  }
  .emi_box {
    width:90% !important;
    position: relative;
    left:5%;
  }
  .buy_course {
    margin-bottom: 10px;
   }
  .section-three .divide {
    position: relative;
    right: 4%;
  }

  .section-three p {
    font-size: 14px;
    width: 120%;
  }

  .seven h1 {
    width: 120%;
    font-size: 24px;
  }
  .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px !important;
  }  
  .curriculum-item-header {
    font-size: 2px;
    height: 6vh !important;
  }

  .curriculum h2 {
    padding: 0.6rem;
    font-size: 16px;
    margin-top: 12px;
  }
  .curriculum-item-body-content {
    font-size: 12px;
  }
  .testimonial-heading {
    margin: -10px !important;
    width: 100%;
    font-size: 24px;
    padding-top: 4rem;
  }

  .testimonial {
    margin-top: -25%;
  }

  .card.swiper-slide {
    height: max-content;
    width: 380px;
    margin-right: 30px;
  }

  .card.swiper-slide .card-content p {
    font-size: 13px;
    padding: 0px 20px;
  }

  .card.swiper-slide .card-content .role {
    font-size: 16px;
  }

  .card.swiper-slide .card-content {
    margin-top: -20%;
  }

  .card-image .card-img {
    height: 130px;
    width: 130px;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    position: relative;
    bottom: 20%;
  }

  .swiper-button-prev {
    left: 3vh !important;
  }

  .swiper-button-next {
    right: 3vh !important;
  }

  .Right-course h2,
  .Right-course h2 span {
    width: 100%;
    font-size: 26px;
    padding-top: 0px;
  }
  .splide__track--draggable {
    position: relative;
    bottom: 4vh !important;
  }
  .Right-course {
    margin-top: -10%;
  }

  .content .slide-name {
    font-size: 22px;
  }

  .content .temp {
    font-size: 22px;
  }

  .content .price {
    font-size: 16px;
  }

  .content .course-content p {
    font-size: 12px;
  }

  .content-box {
    width: 85%;
  }

  .emi_box h2 {
    font-size: 22px;
  }

  .key_features {
    font-size: 15px;
  }

  .emi_features {
    font-size: 14px;
    line-height: 27px;
  }

  .emi-container {
    margin-top: 12%;
    margin-bottom: 2px;
  }

  .amazing_heading {
    width: 100%;
    font-size: 22px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .grab_offer {
    font-size: 20px;
  }

  .buy_course_box {
    padding: 0.8rem 1.2rem;
    height: 16vh !important;
  }

  .percentage,
  .percentage_3 {
    font-size: 2rem;
    display: inline;
  }

  .off {
    position: relative;
    display: inline;
    margin-left: 4px;
  }

  .ac-main h1,
  .ac-main span {
    width: 100% !important;
    font-size: 22px !important;
  }

  .accordion-item {
    width: 90%;
    position: relative;
    left: 3%;
  }
  .accordion {
    margin: 1.2rem 10px !important;
  }
  .accordion-item-header {
    font-size: 13px !important;
  }
  .accordion-item-body-content {
    font-size: 12px !important;
  }
  .ac-main h1 {
    margin-bottom: 0rem !important;
  }    
}


@media (min-width:0px) and (max-width:300px) {
  .topsection1-content>h1 {
    font-size: 30px;
    line-height: 46px;
    padding-top: 2rem;
  }

  .seven h1 {
    font-size: 30px;
  }

  .topsection1-button .broucher {
    font-size: 1rem;
  }

  .testimonial-heading {
    font-size: 30px;
  }

  .Right-course h2 {
    font-size: 30px;
  }

  .Right-course h2 span {
    font-size: 30px;
  }

  .amazing_heading {
    font-size: 30px;
  }

  .grab_offer {
    font-size: 16px;
  }

  .ac-main h1 {
    font-size: 30px !important;
    margin-top: 121px !important;
  }

  .ac-main h1 span {
    font-size: 30px !important;
  }

  .splide__arrow {
    right: -2px !important;
  }

  .section-three h2 {
    font-size: 30px;
  }

  .section-three h4 {
    font-size: 1.3rem;
  }

  .curriculum h2 {
    font-size: 15px;
  }

  .accordion-item {
    width: 93%;
  }
}