.registered-details-section {
  display: flex;
  justify-content: flex-start;
}

#registered-profile {
  width: 100%;
  height: fit-content;
  min-height: 300px;
  display: flex;
  /* flex-direction: row; */

  padding: 10px 8px 10px 8px;
  /* box-shadow: 8px 12px 12px gray;  */
  justify-content: space-between;
  border-radius: 10px;
  margin-top: 50px;
}

.registered-details {
  width: 65%;
}

.bio {
  padding: 20px;
  text-wrap: wrap;
  box-shadow: 2px 2px 5px rgb(147, 146, 146);
  line-height: 25px;
  border-radius: 10px;
}

.statistics {
  width: 35%;
  display: flex;
  flex-direction: row;

  /* align-items: center; */
  /* background-color: blue; */
  /* justify-content: space-evenly; */
}
.static {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.divi {
  width: 120px;
  height: 120px;
  /* background-color: green; */
  border-radius: 50%;
  box-shadow: 4px 8px 8px gray;
  /* border: 1px solid gray; */
  padding: 15px;
}
.divi h2 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}
.divi p {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.divi span {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.registered-name-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  gap: 20px;
  margin: 20px 0;
}
.edit-details {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: white;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 4px 8px 8px gray;
  outline: none;
  border: none;
  padding: 5px;
  color: orangered;
  font-size: 30px;
  transition: ease 0.5s;
}
.edit-details:hover {
  transform: scale(1.01);
  box-shadow: 8px 12px 12px gray;
}
.registered-other-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.registered-other-details span {
  width: 40px;
  height: 40px;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}
/* .vl {
  border-left: 2px solid rgb(212, 210, 210);
} */
.first-part,
.second-part {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.element {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 5px; */
}

.material-symbols-outlined {
  color: orangered;
}

@media only screen and (max-width: 1024px) {
  #registered-profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    justify-content: space-between;
    overflow: hidden;
  }

  .registered-details {
    width: 100%;
  }
  .statistics {
    width: 100%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .static {
    flex-direction: column;
    align-items: center;
    box-shadow: 8px 12px 12px gray;
    border-radius: 30px;
    padding: 20px;
  }
  .divi {
    width: 150px;
    height: 150px;
  }
  .div1,
  .div2,
  .div3 {
    width: 100%;
    display: flex;
  }
  .div1 {
    justify-content: flex-start;
  }
  .div2 {
    justify-content: center;
  }
  .div3 {
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 650px) {
  #registered-profile {
    box-shadow: 0px 0px 12px gray;
  }
}

@media only screen and (max-width: 530px) {
  /* .form {
    padding: 0px;
  } */

  #registered-profile {
    border-radius: 20px;
    box-shadow: none;
    margin-top: 20px;
  }
  .registered-other-details {
    box-shadow: 8px 12px 12px gray;
    padding: 10px;
    border-radius: 30px;
    flex-direction: column;
    margin-top: 20px;
    gap: 0px;
    align-items: flex-start;
  }

  .first-part,
  .second-part {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .registered-other-details {
    box-shadow: 0px 0px 12px gray;
    padding: 8px 0px 8px 0px;
  }
  .static {
    box-shadow: 0px 0px 12px gray;
  }
  .divi {
    width: 120px;
    height: 120px;
  }
}
