.courseDiv{
  display: none;
  width: 100%;
  height: fit-content;
}
.courseDiv h2{
  padding-left: 10px;
  margin:50px 0 10px 0 ;
}
#course-card-section{
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  height: fit-content;
  flex-wrap: wrap;
  /* background-color: red; */
  /* padding: 10px; */
  border-radius: 12px;
}
.course-card{
  width: 23%;
  height: 350px;
  /* background-color: skyblue; */
  box-shadow: 4px 8px 8px rgba(128, 128, 128, 0.466);

  margin: 10px;
  padding: 10px;
  border-radius: 12px;
  overflow: hidden;
}
.card-image-section{
  width: 100%;
  height: 150px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;  
  overflow: hidden;
  border-radius: 12px 12px 0 0;
  
}
.card-image-section img{
  width: 100%;
}
.card-content{
  width: 100%;
  height:100%;
  padding: 5px;
  /* background-color: green; */
}
.completed-percentage{
  width: 100%;
  height: 10px;
  margin: 20px 0 10px 0;
  background-color: white;
  box-shadow: inset 2px 4px 4px rgba(128, 128, 128, 0.466);
border: none;
  border-radius: 12px;
  overflow: hidden;
}
.inner{
  height: 100%;
  background-image:linear-gradient(45deg,orangered,orange);
}
.lectures-completed{
width: 100%;
margin: 10px 0;
}
.course-name{
  width: 100%;
  margin: 10px 0 0 0;
}
.card-content .resume-btn-element{
width: 100%;
height: 40px;
background-image: linear-gradient(45deg,orange,orangered);
border: none;
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: bold;
outline: none;
box-shadow: 2px 4px 4px rgba(128, 128, 128, 0.466);
border-radius: 12px;
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
transition: ease .5s;
}
.card-content .resume-btn-element:hover{
  transform: scale(1.01);
  box-shadow: 4px 8px 8px gray;
  }
  .card-content .resume-btn-element span{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
  }