#liveClasses-section {
  width: 100%;
  margin-top: 30px;
  display: none;
}
.live-card {
  width: 80%;
  height: 60px;
  /* box-shadow: 2px 2px 6px gray; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: orangered;
  color: white;
  font-size: 22px;
  outline: none;
}
.live-card:hover {
  cursor: pointer;
}
.live-card:active {
  transform: scale(0.99);
}
.live-card-description {
  box-shadow: 2px 2px 4px gray;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.live-course-name {
  margin-top: 10px;
}
.live-link > a {
  margin-bottom: 10px;
  text-decoration: none;
}
.live-card-description > div {
  font-weight: 500;
  padding: 10px 0px 10px 0px;
}
#live-content {
  display: none;
}
