{% extends 'base.html' %} {% load static %} {% block content %}
    <!--refer and earn SECTION-->
    <div class="swipe">
      <!-- Swiper -->
      <div class="swiper mySwiper new" style="padding: 35px, 55px">
        <div class="swiper-wrapper">
          <!-- swiper1 -->
          <div class="swiper-slide">
            <section id="courses">
              <div class="we__offer">
                <div class="we__offer_card">
                  <div class="course_img">
                    <img src="images/blog1.jpg" alt="" />

                    <div class="img-text">
                      <div class="text" id="main_head">
                        <i class="fa-regular fa-folder-closed">
                          <span>Product Development </span>
                        </i>
                      </div>
                    </div>
                  </div>

                  <div class="we__offer_content">
                    <div class="blog-icon">
                      <span>
                        <i class="fa fa-calendar" aria-hidden="true"></i
                        >March,30 2023</span
                      >
                      <span class="blog-comment">
                        <a href="#"
                          ><i class="fa-regular fa-comment"></i>Comments(3)</a
                        ></span
                      >
                    </div>
                    <h2>
                      Product development is not a course to learn , Its an Art
                    </h2>

                    <div class="subcontent">
                      <p>
                        An important aspect of an product development as an art
                        is the ability to think outside the box.
                      </p>
                      <br />
                    </div>

                    <a
                      href="./blogs/Product_Development.html"
                      class="course_btn"
                    >
                      <span>Read</span> More</a
                    >
                  </div>
                </div>
              </div>
            </section>
          </div>

          <!-- swiper2 -->

          <div class="swiper-slide">
            <section id="courses">
              <div class="we__offer">
                <div class="we__offer_card">
                  <div class="course_img">
                    <img src="images/blog2.jpg" alt="" />

                    <div class="img-text">
                      <div class="text" id="main_head">
                        <i class="fa-regular fa-folder-closed">
                          <span>Entrepreneurship </span>
                        </i>
                      </div>
                    </div>
                  </div>

                  <div class="we__offer_content">
                    <div class="blog-icon">
                      <span>
                        <i class="fa fa-calendar" aria-hidden="true"></i>Feb,20
                        2023</span
                      >
                      <span class="blog-comment">
                        <a href="#"
                          ><i class="fa-regular fa-comment"></i>Comments(3)</a
                        ></span
                      >
                    </div>
                    <h2>
                      The ERA on Entrepreneurship: How You can be the Next
                      Success Story
                    </h2>

                    <div class="subcontent">
                      <p>
                        Starting a business from scratch can be a daunting task
                        , but the reward of entrepreneurship can be significant.
                      </p>
                    </div>

                    <a href="./blogs/Entrepreneurship.html" class="course_btn">
                      <span>Read</span> More</a
                    >
                  </div>
                </div>
              </div>
            </section>
          </div>

          <!-- swiper3 -->

          <div class="swiper-slide">
            <section id="courses">
              <div class="we__offer">
                <div class="we__offer_card">
                  <div class="course_img">
                    <img src="./images/blog3.jpg" alt="" />

                    <div class="img-text">
                      <div class="text" id="main_head">
                        <i class="fa-regular fa-folder-closed">
                          <span>Internship </span>
                        </i>
                      </div>
                    </div>
                  </div>

                  <div class="we__offer_content">
                    <div class="blog-icon">
                      <span>
                        <i class="fa fa-calendar" aria-hidden="true"></i>April,1
                        2023</span
                      >
                      <span class="blog-comment">
                        <a href="#"
                          ><i class="fa-regular fa-comment"></i>Comments(3)</a
                        ></span
                      >
                    </div>
                    <h2>
                      Having an INTERNSHIP EXPERIENCE before getting info
                      professional life is like ICING ON THE CAKE
                    </h2>

                    <div class="subcontent">
                      <p>
                        BAOIAM (Be a one in a million) is a fully certified
                        platform that helps millions of...
                      </p>
                    </div>

                    <a href="./blogs/Internship.html" class="course_btn">
                      <span>Read</span> More</a
                    >
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="swiper-button-next nav-btn"></div>
        <div class="swiper-button-prev nav-btn"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
{% endblock content %}
