{% extends 'base.html' %} {% load static %} {% block content %}
<div class="career-container">
    <section class="upskill-container">
      <div class="upskill-box">
        <svg
          viewBox="0 0 1922 949"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M671.5 0.5C953.5 73.7 1012.17 314.667 1003 434.5C1002.05 670.044 1034.35 795.494 1225 861C1518.99 955.889 1493.5 647 1921.5 861V948H1V0.5H671.5Z"
            fill="white"
          />
        </svg>
        <div class="upskill-content">
          <div class="content">
            <h1 class="smallheading">
              Upskill your <span class="special2">career</span> journey with
              Us.
            </h1>
            <p>
              Come, Join us & together we can transform the way nation learns.
              Want to know how BAOIAM can help you?
            </p>
          </div>
          <a
            class="btn-background btn-contact"
            href="{% url 'contactapp:contactus' %}"
            >Contact Us</a
          >
        </div>
        <img class="upskill-image" src="{% static 'career/img/8.png' %}" alt="" />
      </div>
    </section>
    <!-- upskill your journey section end -->

    <!-- join our growing team section start -->
    <section class="joining-section">
      <h1 class="smallheading outer">
        Join Our Growing <span class="special2">Team</span> If You Are
      </h1>
      <div class="wrapper mycontainer">
        <div class="about">
          <div class="image-section hideOnMobile">
            <img src="{% static 'career/img/growteam.jpg' %}" alt="" />
          </div>
          <article class="teams">
            <h1 class="smallheading inner">
              Join Our Growing <span class="special2">Team</span> If You Are
            </h1>
            <!-- <div class="image-section hideOnLaptop">
                            <img src="./Image/growteam.jpg" alt="" />
                        </div> -->
            <div class="team">
              <img src="{% static 'career/img/SolutionOriented.png' %}" alt="" />
              <div class="team-details">
                <h3>Solution Oriented</h3>
                <p>
                  If you have an entrepreneurial mindset & want to change
                  hundreds of life literally
                </p>
              </div>
            </div>
            <div class="team">
              <img src="{% static 'career/img/Self-Motivated.png' %}" alt="" />
              <div class="team-details">
                <h3>Self-Motivated</h3>
                <p>
                  If you have perseverance & dedication to achive your goals
                  and work best without supervision
                </p>
              </div>
            </div>
            <div class="team">
              <img src="{% static 'career/img/AGo-Getter&passionate.png' %}" alt="" />
              <div class="team-details">
                <h3>A Go-Getter & passionate</h3>
                <p>
                  You have innovative ideas and an urge to implement them.
                  Also your education lies beyond books
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
    <!-- join our growing team section end -->

    <!-- why baoiam section start -->
    <section class="why-baoiam-section">
      <div class="wrapper mycontainer">
        <div class="about">
          <article class="teams">
            <div class="title">
              <h1 class="bigheading">
                Why <span class="special2">BAOIAM?</span>
              </h1>
              <p>
                We belive in creating a holistic and dynamic workplace where
                you can create,innovate and ideate &turn them into reality!
              </p>
            </div>
            <div class="team">
              <img src="{% static 'career/img/policies.png' %}" alt="" />
              <div class="team-details">
                <h3>Employee-friendly policies</h3>
                <p>Incentives | Paid leaves | Medical emergency leave</p>
              </div>
            </div>
            <div class="team">
              <img src="{% static 'career/img/9-removebg-preview.png' %}" alt="" />
              <div class="team-details">
                <h3>We've got your back</h3>
                <p>Insurance cover | Family insurance</p>
              </div>
            </div>
            <div class="team">
              <img src="{% static 'career/img//10-removebg-preview.png' %}" alt="" />
              <div class="team-details">
                <h3>Unparalleled learning opportunities</h3>
                <p>
                  Best-in-class Mentors and Leaders | Accelerated growth |
                  Timely and feedbacks
                </p>
              </div>
            </div>
          </article>
          <div class="image-section hideOnMobile">
            <img src="{% static 'career/img//Why Choose US-01_101623.jpg' %}" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- why baoiam section end -->

    <!-- Experience life at baoiam section start -->
    <section class="baoiam-environment-section">
      <div class="top-content">
        <div class="top-content-head">
          <h1 class="smallheading">Experience <span>Life</span> at BAOIAM</h1>
        </div>
        <div class="top-content-para">
          <p>
            We're buiding a workspace environment that promotes growth, both
            personally, professionally & mentally.
          </p>
        </div>
      </div>
      <!-- *********************** -->

      <div class="community">
        <div class="card-container">
          <div class="profile-card">
            <div class="img">
              <img src="{% static 'career/img/growteam.jpg' %}" alt="" />
              <!-- <img src="./image/customdomain.jpg"> -->
            </div>
            <div class="caption">
              <h3>Custom Domains</h3>
              <p>A short sentence describing this callout</p>
              <div class="social-links">
                <!--                             <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                                <a href="#"><i class='bx bxl-instagram insta'></i></a>
                                <a href="#"><i class='bx bxl-twitter'></i></a> -->
              </div>
            </div>
          </div>
          <div class="profile-card">
            <div class="img">
              <img src="{% static 'career/img/Dedicated.jpg' %}" />
              <!-- <img src="./image/Dedicated.jpg"> -->
            </div>
            <div class="caption">
              <h3>Never Sleeps</h3>
              <p>A short sentence describing this callout</p>
              <div class="social-links">
                <!--                             <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                                <a href="#"><i class='bx bxl-instagram'></i></a>
                                <a href="#"><i class='bx bxl-twitter'></i></a> -->
              </div>
            </div>
          </div>
          <div class="profile-card">
            <div class="img">
              <img src="{% static 'career/img/growteam.jpg' %}" alt="" />
              <!-- <img src="./image/growteam.jpg"> -->
            </div>
            <div class="caption">
              <h3>Dedicated</h3>
              <p>A short sentence describing this callout</p>
              <div class="social-links">
                <!--                             <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                                <a href="#"><i class='bx bxl-instagram'></i></a>
                                <a href="#"><i class='bx bxl-twitter'></i></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ************************** -->
    </section>
    <!-- Experience life at baoiam section end -->

    <!-- hear from the team section start -->
    <section class="interns-review-section">
      <div class="mycontainer team-container">
        <h1 class="smallheading">
          Hear from the <span class="special2">team</span>
        </h1>
        <p>Get a sneak-peak what all happens at BAOIAM</p>
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="5000">
              <div class="member">
                <img src="{% static 'career/img/shreya.png' %}" alt="" />
                <div class="member-details">
                  <span class="doublequote special3">❛❛</span>
                  <p>
                    BAOIAM has a great work culture & professional environment
                    for its interns. I learned that every company or
                    organisation has its own culture. Its essential to
                    observe others and learn how they enage and interact with
                    co-worker or help them with projects and tasks.
                  </p>
                  <h1>Shreya Choudhary</h1>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-interval="5000">
              <div class="member">
                <img src="{% static 'career/img/chiytanshu.png' %}"alt="" />
                <div class="member-details">
                  <span class="doublequote special3">❛❛</span>
                  <p>
                    BAOIAM has a great work culture & professional environment
                    for its interns. I learned that every company or
                    organisation has its own culture. Its essential to
                    observe others and learn how they enage and interact with
                    co-worker or help them with projects and tasks.
                  </p>
                  <h1>Chitranshu Kankar</h1>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-target="#carouselExampleControls"
            data-slide="prev"
          >
            <span
              class="carousel-control-prev-icon"
              aria-hidden="true"
            ></span>
            <span class="sr-only">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-target="#carouselExampleControls"
            data-slide="next"
          >
            <span
              class="carousel-control-next-icon"
              aria-hidden="true"
            ></span>
            <span class="sr-only">Next</span>
          </button>
        </div>
        <div class="members">
          <div class="member">
            <img src="{% static 'career/img/shreya.png' %}" alt="" />
            <div class="member-details">
              <span class="doublequote special3">❛❛</span>
              <p>
                BAOIAM has a great work culture & professional environment for
                its interns. I learned that every company or organisation has
                its own culture. Its essential to observe thers and learn
                how they enage and interact with co-worker or help them with
                projects and tasks.
              </p>
              <h1>Shreya Choudhary</h1>
            </div>
          </div>
          <div class="member">
            <img src="{% static 'career/img/chitranshu.png' %}" alt="" />
            <div class="member-details">
              <span class="doublequote special3">❛❛</span>
              <p>
                BAOIAM has a great work culture & professional environment for
                its interns. I learned that every company or organisation has
                its own culture. Its essential to observe others and learn
                how they enage and interact with co-worker or help them with
                projects and tasks.
              </p>
              <h1>Chitranshu Kankar</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- hear from the team section end -->

    <!-- contact us section start-->
    
    <!-- contact us section end -->

{% endblock content %}
