{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'comingsoon/css/style.css' %}">
  <title>Coming Soon</title>
</head>
<body>
  <div class="container">
    <div class="image">
      <img src="{% static 'comingsoon/img/Coming_Soon_Baoiam.png' %}" alt="Comming soon image">
    </div>
    <div class="text">
      <h4>Stay Connected, <span class="underline">Stay Updated!</span></h4>
      <button><a href="{% url 'core:index' %}">Go to Home</a></button>
    </div>
  </div>
</body>
</html>