{% extends 'base.html' %} {% load static %} {% block content %}
<section class="one">
    <div class="info">
      <button id="certified">Certified Online Training</button>
      <h1>Content <span class="underline"> Writing</span> Course</h1>
      <p>
        Anyone can have appreciable skills to express. Want to know how we
        help unlock the true potential inside our course enrollers? Get the
        answer in further statements. We work here intending to help you
        evolve your writing skills and become a successful content writer.
      </p>

      <p>Languages : <strong>Hindi, English</strong></p>
      <button class="offer">
        1+1 Offer: Get Internship & Job Preparation training FREE on purchase
        of Project Management training!
      </button>
      <button class="btn-enroll" onclick="showRegistrationForm()" >Enroll Now</button>
    </div>
    <div class="pic">
      <img src="31.jpg" />
    </div>
  </section>

  <section class="two">
    <h1>Course <span class="underline">Highlights</span></h1>
    <div class="features">
      <ul>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div>
            <p class="heading">Learn Online</p>
            <p>At your own schedule</p>
          </div>
        </li>
        <li>
          <i class="fa-sharp fa-solid fa-certificate"></i>
          <div>
            <p class="heading">Certificate Of Training</p>
            <p>From Internshala Trainings</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-user-group"></i>
          <div>
            <p class="heading">Beginner friendly</p>
            <p>No prior knowledge required</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-phone"></i>
          <div>
            <p class="heading">Mobile friendly</p>
            <p>No laptop? No problem</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-diagram-project"></i>
          <div>
            <p class="heading">Projects</p>
            <p>For hands-on practice</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-calendar"></i>
          <div>
            <p class="heading">8 weeks duration</p>
            <p>1 hr/day (flexible schedule)</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-handshake-angle"></i>
          <div>
            <p class="heading">Placement assistance</p>
            <p>To build your career</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-lightbulb"></i>
          <div>
            <p class="heading">Doubt clearing</p>
            <p>Through Q&A forum</p>
          </div>
        </li>
        <li id="last">
          <i class="fa-solid fa-business-time"></i>
          <div>
            <p class="heading">Downloadable content</p>
            <p>With lifetime access</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="three">
    <h1 id="why-web-dev-heading-2">
      Course<span class="underline"> Overview</span>
    </h1>
    <div class="why-web-dev-box">
      <div class="why-web-dev">
        <h3 id="why-web-dev-heading-1">
          <span class="underline">Course Overview</span>
        </h3>
        <p>
          Our Content Writing course is carefully planned to help you master
          the art of editing and proofreading, polishing your writing fluency
          and vocabulary. This course will help you avoid grammatical errors
          and typos that can stain even the most brilliant work. Our
          curriculum will help learners to get control of content’s effect
          across various digital platforms.
        </p>
        <p class="heading">Be in demand</p>
      </div>
      <div class="image">
        <img src="30.jpg" />
      </div>
    </div>
  </section>
  <section class="five">
    <h3 id="placement-info-heading-2">
      <span
        >What <span class="underline">placement assistance</span> will you
        receive?</span
      >
    </h3>
    <div class="placement-info">
      <div class="why-web-dev">
        <h3 id="placement-info-heading-1">
          <span
            >What <span class="underline">placement assistance</span> will you
            receive?</span
          >
        </h3>
        <p class="heading">Free Placement Prep Training</p>
        <p>
          Learn how to build your resume, make great applications, and ace
          your interviews.
        </p>
        <p class="heading">Curated internships & jobs</p>
        <p>
          Get internships and fresher jobs as per your preference in your
          inbox.
        </p>
        <p class="heading">Get highlighted on Internshala</p>
        <p>
          Top performers will be highlighted in their internship & job
          applications on Internshala.
        </p>
      </div>
      <div class="image">
        <img src="12.jpg" />
      </div>
    </div>
  </section>

  <section class="six">
    <h1>How will your <span class="underline">training</span> work?</h1>
    <div class="features">
      <ul>
        <li>
          <i class="fa-solid fa-chalkboard-user"></i>
          <div>
            <p class="heading">Learn concepts</p>
            <p>Go through training videos to learn concepts</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-check-double"></i>
          <div>
            <p class="heading">1:1 doubt solving</p>
            <p>
              Get your doubts solved by experts through Q&A forum within 24
              hours
            </p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-brain"></i>
          <div>
            <p class="heading">Test yourself</p>
            <p>
              Test your knowledge through quizzes & module tests at regular
              intervals
            </p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-pen"></i>
          <div>
            <p class="heading">Take final exam</p>
            <p>Complete your training by taking the final exam</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-hands"></i>
          <div>
            <p class="heading">Hands-on practice</p>
            <p>Work on assignments and projects.</p>
          </div>
        </li>
        <li>
          <i
            class="fa-solid fa-award"
            style="padding: 1rem 1.2rem; font-size: 1.8rem"
          ></i>
          <div>
            <p class="heading">Get certified</p>
            <p>
              Get certified in Content Writing upon successful completion of
              training
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="seven">
    <h1>Content Writing</h1>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h4 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Course Objectives
          </button>
        </h4>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <ul>
              <li>
                Improve your writing skills for various digital platforms such
                as blogs, social media, websites, and email marketing.
              </li>
              <li>
                Inspire you to explore different depths of vocabulary usage.
              </li>
              <li>Embrace the professional mindset.</li>
              <li>
                Learn the mysteries of research skills and write data-driven
                content.
              </li>
              <li>
                Understand different writing styles from elegant prose to
                professionalism.
              </li>
              <li>Innovate the magic of search engine optimization (SEO).</li>
              <li>
                Enhance your mind to catch the best edits and proofreading
                skills.
              </li>
              <li>
                Raise your confidence with each word you write, each lesson
                you learn, and each challenge you accomplish.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Course Materials:
          </button>
        </h4>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>
              <strong>Textbook:</strong>The most emphasized learning
              capabilities are furnished by books. So, we will use a course
              book designed specifically for our Content Writing course.
            </p>
            <p>
              <strong>Online resources:</strong> Taking care of the
              convenience and impact of learning, we provide quality content
              online. All learners will get access to a never-ending range of
              online resources comprising assessments, video lectures, and
              interactive activities.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Online Activities:
          </button>
        </h4>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>
              To reinforce your learning and practical skills, our Content
              Writing course includes various activities, naming a few:
            </p>
            <ul>
              <li>Reviews to help you get insights into your work.</li>
              <li>Feedback from your side to help others to improve.</li>
              <li>
                Assignments provide the opportunity to write on different
                topics and various platforms.
              </li>
              <li>
                Projects with the intent to enhance your analyzing research
                and improve your content.
              </li>

              <li>
                Proofreading and editing practice by revising and refining
                your own and others' work.
              </li>
              <li>
                Writing with respectively suitable tones and styles for
                targeting diverse audiences and platforms.
              </li>
              <li>
                Integrate SEO techniques with writing practice for optimizing
                content and increasing visibility.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br />
  </section>
  <section class="nine">
    <h1><span class="underline">Reviews</span> From Students</h1>
    <h2>Average Rating : 4.5</h2>

    <!-- Slider2 -->
    <section class="slider2">
      <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <img src="14.jpg" alt="" />
            </div>
            <div class="blog-slider__content">
              <span class="blog-slider__code">26 December 2019</span>
              <div class="blog-slider__title">REVIEW</div>
              <div class="blog-slider__text">
                Baoiam revolutionized my learning journey! Its intuitive
                interface, interactive lessons, and fun quizzes turned
                studying into a delightful and fruitful experience. A true
                game-changer in my learning process.
              </div>
              <a href="#" class="blog-slider__button">READ MORE</a>
            </div>
          </div>

          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <img src="9.jpg" alt="" />
            </div>
            <div class="blog-slider__content">
              <span class="blog-slider__code">26 December 2019</span>
              <div class="blog-slider__title">REVIEW</div>
              <div class="blog-slider__text">
                Baoiam's interactive assignments and projects have
                significantly elevated my practical skills. The platform's
                unique approach enabled immediate application of knowledge,
                fostering my confidence. A crucial companion on my learning
                journey.
              </div>
              <a href="#" class="blog-slider__button">READ MORE</a>
            </div>
          </div>

          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <img src="19.jpg" alt="" />
            </div>
            <div class="blog-slider__content">
              <span class="blog-slider__code">26 December 2019</span>
              <div class="blog-slider__title">REVIEW</div>
              <div class="blog-slider__text">
                The platform's responsive customer support is a significant
                advantage. Baoiam's prompt assistance has consistently upheld
                my seamless learning journey, making them an indispensable
                part of my progress.
              </div>
              <a href="#" class="blog-slider__button">READ MORE</a>
            </div>
          </div>
        </div>
        <div class="blog-slider__pagination"></div>
      </div>
    </section>
  </section>

  <!-- FAQ -->
  <div class="container-main faq">
    <div class="ac-main">
      <h1>Frequently Asked <span>Questions</span></h1>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q1. I am not a student of BAOIAM. Can I still refer a friend?
          </div>
          <!-- /.accordion-item-header -->
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, If you are aware of BAOIAM and believe in what we are
              doing, then feel free to refer your friend.
            </div>
          </div>
          <!-- /.accordion-item-body -->
        </div>
        <!-- /.accordion-item -->
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q2. How can I track the status of my referrals?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              You will be informed by email once BAOIAM receives your referral
              details.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q3. How will my friends be informed that I referred them?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Your friends will receive an email confirmation from BAOIAM
              informing them that they have been referred by you. They will be
              asked to confirm.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q4. Will I get a referral reward if a friend/connection already
            exists in the BAOIAM database?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              No, there is no reward if your friend is connected with BAOIAM
              or its infromation exists in BAOIAM database
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">Q5. Who all can I refer to?</div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Anyone who meets the eligibility criteria for our courses can be
              referred. They should be between 18 - 28 years of age. They
              should know the basics of the English language, have a laptop,
              and a good internet connection.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
