{% extends 'base.html' %} {% load static %} {% block content %}
<section class="one">
    <div class="info">
      <button id="certified">Certified Online Training</button>
      <h1>Corporate <span class="underline">Law</span> Course</h1>
      <p>
        In this era of cut-throat business rivalries your knowledge of rights
        and law proves to be superpower. Want to learn this superpower Welcome
        to our corporate law course where we work our level best so that your
        skills are honed to perfection.
      </p>
      <p>Languages : <strong>Hindi, English</strong></p>
      <button class="offer">
        1+1 Offer: Get Internship & Job Preparation training FREE on purchase
        of Corporate Law training!
      </button>
      <button class="btn-enroll" onclick="showRegistrationForm()"  >Enroll Now</button>
    </div>
    <div class="pic">
      <img src="15.jpg" />
    </div>
  </section>

  <section class="two">
    <h1>Course <span class="underline">Highlights</span></h1>
    <div class="features">
      <ul>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div>
            <p class="heading">Learn Online</p>
            <p>At your own schedule</p>
          </div>
        </li>
        <li>
          <i class="fa-sharp fa-solid fa-certificate"></i>
          <div>
            <p class="heading">Certificate Of Training</p>
            <p>From Internshala Trainings</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-user-group"></i>
          <div>
            <p class="heading">Beginner friendly</p>
            <p>No prior knowledge required</p>
          </div>
        </li>

        <li>
          <i class="fa-solid fa-diagram-project"></i>
          <div>
            <p class="heading">Projects</p>
            <p>For hands-on practice</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-calendar"></i>
          <div>
            <p class="heading">8 weeks duration</p>
            <p>1 hr/day (flexible schedule)</p>
          </div>
        </li>

        <li>
          <i class="fa-solid fa-lightbulb"></i>
          <div>
            <p class="heading">Doubt clearing</p>
            <p>Through Q&A forum</p>
          </div>
        </li>
        <li id="last">
          <i class="fa-solid fa-business-time"></i>
          <div>
            <p class="heading">Downloadable content</p>
            <p>With lifetime access</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="three">
    <h1 id="why-web-dev-heading-2">
      Course<span class="underline"> overview</span>
    </h1>
    <div class="why-web-dev-box">
      <div class="why-web-dev">
        <h3 id="why-web-dev-heading-1">
          <span class="underline">Course Overview</span>
        </h3>
        <p>
          Our corporate law course is planned by experts to meet all your
          requirements as learner so that you can become cream of the crop and
          move ahead the crowd. Our curriculum will help learners to gain
          complete knowledge of latest and previous cases, rights, relations,
          companies, organizations and conduct of persons.
        </p>
        <p class="heading">Be in demand</p>

        <p class="heading">Eat-Sleep-Work-Repeat</p>
      </div>

      <div class="image">
        <img src="18.jpg" />
      </div>
    </div>
  </section>
  <section class="five">
    <h3 id="placement-info-heading-2">
      <span> <span class="underline">Assessment:</span> </span>
    </h3>
    <div class="placement-info">
      <div class="why-web-dev">
        <h3 id="placement-info-heading-1">
          <span> <span class="underline">Assessment:</span> </span>
        </h3>
        <p>
          Throughout this course learners will go through various assessments
          that will help them to keep track of their progress and improve.
          Assessments will include:
        </p>
        <ul>
          <li>Individual assignments.</li>
          <li>Group projects and case study with peers.</li>
          <li>Review and feedback sessions.</li>
        </ul>
        <p>
          After completion of each level, you will receive a certificate of
          completion that can add charm to your resume and profile.
        </p>
      </div>
      <div class="image">
        <img src="12.jpg" />
      </div>
    </div>
  </section>

  <section class="six">
    <h1>How will your <span class="underline">training</span> work?</h1>
    <div class="features">
      <ul>
        <li>
          <i class="fa-solid fa-chalkboard-user"></i>
          <div>
            <p class="heading">Learn concepts</p>
            <p>Go through training videos to learn concepts</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-check-double"></i>
          <div>
            <p class="heading">1:1 doubt solving</p>
            <p>
              Get your doubts solved by experts through Q&A forum within 24
              hours
            </p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-brain"></i>
          <div>
            <p class="heading">Test yourself</p>
            <p>
              Test your knowledge through quizzes & module tests at regular
              intervals
            </p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-pen"></i>
          <div>
            <p class="heading">Take final exam</p>
            <p>Complete your training by taking the final exam</p>
          </div>
        </li>

        <li>
          <i
            class="fa-solid fa-award"
            style="padding: 1rem 1.2rem; font-size: 1.8rem"
          ></i>
          <div>
            <p class="heading">Get certified</p>
            <p>
              Get certified in Corporate Law upon successful completion of
              training
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="seven">
    <h1>Corporate Law</h1>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h4 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Course Objectives
          </button>
        </h4>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <ul>
              <li>
                To develop the understanding of how the Corporate Law works.
              </li>
              <li>
                Understand the needs of working Businesses and organizations.
              </li>
              <li>
                Make you a professional at taxation and policy related laws.
              </li>
              <li>
                Learn the usage of new trends and technologies used in
                corporate law sector.
              </li>
              <li>Boost your confidence as a budding professional.</li>
              <li>
                Guiding your initial steps so that you are headed towards
                right path in your career.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Course Materials:
          </button>
        </h4>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>
              During the session, learners will have access to the following
              resources:
            </p>
            <ul>
              <li>
                <strong>Textbook:</strong>We will provide a book specifically
                designed for our corporate law course authored by experts in
                the field.
              </li>
              <li>
                <strong>Online resources:</strong>Best in class resources at
                your fingertips that you can access from anywhere in the
                world. We provide access to the never-ending range of quality
                material comprising of video lectures, assessments, and
                interactive activities.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Course Activities:
          </button>
        </h4>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong
              >Our Corporate Law course include variety of activities to help
              you enhance your skills few of them are:
            </strong>
            <ul>
              <li>Case Study of some interesting and important cases.</li>
              <li>
                Timely Assignments to keep track of your progress and
                facilitate regular practice.
              </li>
              <li>Constructive review on your work so you can level up.</li>
              <li>
                Feedbacks from your side on other’s work that improves your
                own sense of judgement and helps others to improve.
              </li>
              <li>
                Projects based on practical world to enhance your knowledge
                and improve your lateral thinking abilities.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br />
  </section>
  <section class="nine">
    <h1><span class="underline">Reviews</span> From Students</h1>
    <h2>Average Rating : 4.5</h2>

    <!-- Slider2 -->
    <section class="slider2">
      <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <img src="9.jpg" alt="" />
            </div>
            <div class="blog-slider__content">
              <span class="blog-slider__code">10 june,2023</span>
              <div class="blog-slider__title">REVIEW</div>
              <div class="blog-slider__text">
                Baoiam revolutionized my learning journey! Its intuitive
                interface, interactive lessons, and fun quizzes turned
                studying into a delightful and fruitful experience. A true
                game-changer in my learning process.
              </div>
              <a href="#" class="blog-slider__button">READ MORE</a>
            </div>
          </div>

          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <img src="19.jpg" alt="" />
            </div>
            <div class="blog-slider__content">
              <span class="blog-slider__code">10 june,2023</span>
              <div class="blog-slider__title">REVIEW</div>
              <div class="blog-slider__text">
                Baoiam's interactive assignments and projects have
                significantly elevated my practical skills. The platform's
                unique approach enabled immediate application of knowledge,
                fostering my confidence. A crucial companion on my learning
                journey.
              </div>
              <a href="#" class="blog-slider__button">READ MORE</a>
            </div>
          </div>

          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <img src="14.jpg" alt="" />
            </div>
            <div class="blog-slider__content">
              <span class="blog-slider__code">10 june,2023</span>
              <div class="blog-slider__title"><h3 id="end">REVIEW</h3></div>
              <div class="blog-slider__text">
                The platform's responsive customer support is a significant
                advantage. Baoiam's prompt assistance has consistently upheld
                my seamless learning journey, making them an indispensable
                part of my progress.
              </div>
              <a href="#" class="blog-slider__button">READ MORE</a>
            </div>
          </div>
        </div>
        <div class="blog-slider__pagination"></div>
      </div>
    </section>
  </section>

  <!-- FAQ -->
  <div class="container-main faq">
    <div class="ac-main">
      <h1>Frequently Asked <span>Questions</span></h1>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q1. I am not a student of BAOIAM. Can I still refer a friend?
          </div>
          <!-- /.accordion-item-header -->
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, If you are aware of BAOIAM and believe in what we are
              doing, then feel free to refer your friend.
            </div>
          </div>
          <!-- /.accordion-item-body -->
        </div>
        <!-- /.accordion-item -->
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q2. How can I track the status of my referrals?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              You will be informed by email once BAOIAM receives your referral
              details.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q3. How will my friends be informed that I referred them?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Your friends will receive an email confirmation from BAOIAM
              informing them that they have been referred by you. They will be
              asked to confirm.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q4. Will I get a referral reward if a friend/connection already
            exists in the BAOIAM database?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              No, there is no reward if your friend is connected with BAOIAM
              or its infromation exists in BAOIAM database
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">Q5. Who all can I refer to?</div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Anyone who meets the eligibility criteria for our courses can be
              referred. They should be between 18 - 28 years of age. They
              should know the basics of the English language, have a laptop,
              and a good internet connection.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
