{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Development</title>

    <link rel="stylesheet" href="{% static 'courses\css\style3.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'courses\css\sidebar.css' %}"> -->
    <link rel="stylesheet" href="{% static 'courses\css\faq.css' %}">
    <!-- <link rel="stylesheet" href="style1.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet"  type="text/css" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="containerr">
  <div>
    <!-- I'm interested -->


    <div class="topsection1-container">
      <div class="topsection1-content">


        <h1>Learn a <span>New Skill</span> Everyday, Anytime, and Anywhere.</h1>
        <p>
          <b>1000+</b> Courses covering all tech domains for you to learn and
          explore new opportunities. Learn from Industry Experts and land your
          Dream Job.
        </p>


        {% for course in courses %}
             <section class="one">
                <div class="info">
                   {% comment %} <button id="certified">Certified Online Training</button> {% endcomment %}
                       <h1>{{course.title}}</h1>
                       <p>{{course.description}}</p>
                       <p>Instructor : <strong>{{course.instructor}}</strong></p>
                       <button class="offer">
                          ₹ {{course.price}}</button>
                      {% if course in enrolled_courses %}
                          <button class="btn-enroll">
                            Already Enrolled</button>
                      {% else %}
                      <a href="{% url 'dashboard:enroll_course' course_id=course.id %}"><button class="btn-enroll">
                          Enroll Now  </button></a>
                     <h4>{{course.title}} Carriculum</h4>
                     <h4>{{course.carriculum_title}}</h4>
                     <h4>{{course.carriculum_desc}}</h4>
                     <h4>{{course.batch}}</h4>
                     <h4>Batches for {{ course.title }}</h4>
                  <ul>

                    <li>{{ batch.batch_name }} - Start Date: {{ batch.start_date }} - End Date: {{ batch.end_date }}</li>
                  </ul>
                  <a href="{% url 'dashboard:enroll_plan' course_id=course.id date='2024-3-27' %}"><button class="my-2 btn-enroll">
                      3 Month Plan  </button>
                  </a>
                  <a href="{% url 'dashboard:enroll_plan' course_id=course.id date='2024-6-27' %}"><button class="my-2 btn-enroll">
                    6 Month Plan  </button>
                  </a>
                   <a href="{% url 'dashboard:enroll_plan' course_id=course.id date='2024-9-27' %}"><button class="my-2 btn-enroll">
                    9 Month Plan  </button>
                  </a>
                 {% endif %}
      </div>
      <div class="pic">
        {% if course.image %}
                <img src="{{ course.image.url }}" alt="{{ course.title }} Image" />
                {% else %}
                <p>No image available</p>
        {% endif %}
      </div>
    </section>
    {% endfor %}



        <!-- <div class="topsection1-input">
          <span class="material-symbols-outlined"> search </span>
          <input type="text" placeholder="What to learn?" />
          <button type="button">Explore</button>
        </div> -->
        <div class="topsection1-countpart">
          <div>
            <h1 class="first">1000+</h1>
            <h3>Courses to choose from</h3>
          </div>
          <div>
            <h1 class="second">5000+</h1>
            <h3>Students Trained</h3>
          </div>
          <div>
            <h1 class="third">200+</h1>
            <h3>Professional Trainers</h3>
          </div>
        </div>
      </div>

      <div class="topsection1-image">
        <img src="{% static 'courses/img/img1.avif' %}" alt="image" />
        <div class="topsection1-button">
          <button class="interested">I AM INTERESTED</button>
          <button class="broucher">DOWNLOAD BROCHER</button>

        </div>
      {% endif %}
    {% endfor %}
      </div>
    </div>

    <!-- Program overview -->
    <section class="three">
      <div class="why-web-dev-box">
        <div class="why-web-dev">
          <h3 id="why-web-dev-heading-1">
            Program <span class="underline">Overview</span>
          </h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur qui, illum error tempore eligendi fuga commodi provident voluptatum quis doloribus voluptate, perspiciatis nemo voluptatem illo modi ipsa impedit magni sint, nam accusamus? Sit et ullam laudantium ratione voluptate dignissimos saepe, est veniam aut cupiditate error perferendis sunt obcaecati architecto dolores!</p>
        </div>
        <div class="image">
          <img src="{% static 'courses/img/img1.avif' %}" />
        </div>
      </div>
    </section>

    <!-- Course Highlights -->
<section class="section-three">
      <div>
        <h2><span> Course </span> Highlights</h2>
        <ul>
          <li>
            <i class="fa-solid fa-graduation-cap"></i>
            <div class="divide">
              <h4>Learn Online</h4>
              <p>At your own schedule</p>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-graduation-cap"></i>
            <div class="divide">
              <h4>Doubt Clearing</h4>
              <p>Through Q&A forum</p>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-graduation-cap"></i>
            <div class="divide">
              <h4>Mobile Friendly</h4>
              <p>No Laptop? No Problem</p>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-graduation-cap"></i>
            <div class="divide">
              <h4>Beginner Friendly</h4>
              <p>No prior knowledge required</p>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-graduation-cap"></i>
            <div class="divide">
              <h4>Placement Assessment</h4>
              <p>To Build Your Career</p>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-graduation-cap"></i>
            <div class="divide">
              <h4>8 Weeks Duration</h4>
              <p>1 hr/day (flexible schedule)</p>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-graduation-cap"></i>
            <div class="divide">
              <h4>Certificate of Traning</h4>
              <p>From Baoiam Tranings</p>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-graduation-cap"></i>
            <div class="divide">
              <h4>Downloadable Content</h4>
              <p>With Lifetime Access</p>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-graduation-cap"></i>
            <div class="divide">
              <h4>Projects</h4>
              <p>For hand-on practice</p>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-graduation-cap"></i>
            <div class="divide">
              <h4>Industry Experts</h4>
              <p>Study From The Best Tutors</p>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!-- Curriculum -->
    <section class="seven">
      <h1>Course <span class="underline">Curriculum</span></h1>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Html
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is
              shown by default, until the collapse plugin adds the appropriate
              classes that we use to style each element. These classes control
              the overall appearance, as well as the showing and hiding via CSS
              transitions. You can modify any of this with custom CSS or
              overriding our default variables. It's also worth noting that just
              about any HTML can go within the <code>.accordion-body</code>,
              though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              CSS
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is
              hidden by default, until the collapse plugin adds the appropriate
              classes that we use to style each element. These classes control
              the overall appearance, as well as the showing and hiding via CSS
              transitions. You can modify any of this with custom CSS or
              overriding our default variables. It's also worth noting that just
              about any HTML can go within the <code>.accordion-body</code>,
              though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              JavaScript
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is
              hidden by default, until the collapse plugin adds the appropriate
              classes that we use to style each element. These classes control
              the overall appearance, as well as the showing and hiding via CSS
              transitions. You can modify any of this with custom CSS or
              overriding our default variables. It's also worth noting that just
              about any HTML can go within the <code>.accordion-body</code>,
              though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Design Patterns
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quia
              nemo laboriosam porro temporibus. Nihil vero hic nobis sit unde!
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Object Modelling
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quia
              nemo laboriosam porro temporibus. Nihil vero hic nobis sit unde!
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Applications
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quia
              nemo laboriosam porro temporibus. Nihil vero hic nobis sit unde!
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Computer Graphics
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quia
              nemo laboriosam porro temporibus. Nihil vero hic nobis sit unde!
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="true"
              aria-controls="collapseThree"
            >
              Bootstrap
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quia
              nemo laboriosam porro temporibus. Nihil vero hic nobis sit unde!
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonials -->
    <section class="testimonial">
      <h1 class="testimonial-heading"><span class="underline">Testimonials</span></h1>
      <div class="slide-container swiper">
        <div class="slide-content">
          <div class="card-wrapper swiper-wrapper">
            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay"></span>
    
                <div class="card-image">
                  <img src="{% static 'courses/img/img1.avif' %}" alt="#" class="card-img">
                </div>
              </div>
    
              <div class="card-content">
                <h2 class="name">John</h2>
                <p><span class="name" style="text-align: center;">Course Student</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eveniet voluptas dicta aliquid optio cum neque. Error debitis minima ex sapiente asperiores molestiae recusandae, magni, id distinctio perferendis, soluta obcaecati!</p>
                  </p>
              </div>
            </div>
            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay"></span>
    
                <div class="card-image">
                  <img src="{% static 'courses/img/img1.avif' %}" alt="#" class="card-img">
                </div>
              </div>
    
              <div class="card-content">
                <h2 class="name">john</h2>
                <p><span class="name">Course Student</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eveniet voluptas dicta aliquid optio cum neque. Error debitis minima ex sapiente asperiores molestiae recusandae, magni, id distinctio perferendis, soluta obcaecati!</p>
                  </p>
              </div>
            </div>
            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay"></span>
    
                <div class="card-image">
                  <img src="{% static 'courses/img/img1.avif' %}" alt="#" class="card-img">
                </div>
              </div>
    
              <div class="card-content">
                <h2 class="name">John</h2>
                <p><span class="name">Course Student</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eveniet voluptas dicta aliquid optio cum neque. Error debitis minima ex sapiente asperiores molestiae recusandae, magni, id distinctio perferendis, soluta obcaecati!</p>
                  </p>
              </div>
            </div>
            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay"></span>
    
                <div class="card-image">
                  <img src="{% static 'courses/img/img1.avif' %}" alt="#" class="card-img">
                </div>
              </div>
    
              <div class="card-content">
                <h2 class="name">John</h2>
                <p><span class="name">Course Student</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eveniet voluptas dicta aliquid optio cum neque. Error debitis minima ex sapiente asperiores molestiae recusandae, magni, id distinctio perferendis, soluta obcaecati!</p>
                  </p>
              </div>
            </div>
            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay"></span>
    
                <div class="card-image">
                  <img src="{% static 'courses/img/img1.avif' %}" alt="#" class="card-img">
                </div>
              </div>
    
              <div class="card-content">
                <h2 class="name">John</h2>
                  <p><span class="name">Course Student</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eveniet voluptas dicta aliquid optio cum neque. Error debitis minima ex sapiente asperiores molestiae recusandae, magni, id distinctio perferendis, soluta obcaecati!</p>
                  </p>
              </div>
            </div>
    
          </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
      </div>
    </section>
    
    <!-- Right Course -->
    <section class="Right-course">
      <h1 class="join_us">Join With Us <br>Find The <span class="title_join_us">Right Course</span></h1>
      <div class="slider_wrapper">
        <div class="splide">
            <div class="splide__track">
                <div class="splide__list">
                  <div class="splide__slide">
                    
                        <div class="content-box">
              
                            <div class="content">
                              <div class="name">Plus<br> 30,500<span class="name-span">/Full course</span></div>
                                 <ul class="course-content"><li>Live Classes</li>
                                   <li>Doubt Clearing Sessions</li>
                                   <li>Assessment & Case Study</li>
                                   <li>Mentorship</li></ul>
                            
                                 <button class="btn-1">Try Demo Class</button>
                            
                                </div>
                          </div>
                    </div>
                    <div class="splide__slide">
                      <div class="content-box">
                       <div class="content">
               
                        <div class="name">Plus Combo<br> 30,500<span class="name-span">/Full course</span></div>
                        <ul class="course-content"><li>Live Classes</li>
                          <li>Doubt Clearing Sessions</li>
                          <li>Assessment & Case Study</li>
                          <li>Mentorship</li>
                          <li>Extra Course</li>
                        </ul>
                   
                   <button class="btn-1">Try Demo Class</button>
                       
                     </div>
                     </div>
                    </div>
                    <div class="splide__slide">
                      <div class="content-box">
                         
                         <div class="content">
                             
                           <div class="name">Premium<br>60,000/<span class="name-span">Full course</span> </div>
                           <ul class="course-content"><li>Live Classes</li>
                              <li>Doubt Clearing Sessions</li>
                              <li>Assessment & Case Study</li>
                              <li>Mentorship</li>
                              <li>Webinar Access</li>
                              <li>Placement Assistance</li>
                              <li>Interview Preparation</li>
                              <li>Resume Building</li></ul><br><br>
              
                        
                         <button class="btn-1">Try Demo Class</button>
                       </div> 
                       </div> 
                       
                      </div>
                     <div class="splide__slide">
                       <div class="content-box">
                        <div class="content">
                        <div class="name">Premium Combo<br>60,000/<span class="name-span">Full course</span> </div>
                        <ul class="course-content"><li>Live Classes</li>
                           <li>Doubt Clearing Sessions</li>
                           <li>Assessment & Case Study</li>
                           <li>Mentorship</li>
                           <li>Webinar Access</li>
                           <li>Placement Assistance</li>
                           <li>Interview Preparation</li>
                           <li>Resume Building</li>
                           <li>Extra Course</li>
                          </ul>
                           
                        
                        <button class="btn-1">Try Demo Class</button>
                        
                      </div>
                     </div>
                   </div>
                   
                     <!-- <div class="splide__slide">
                        <div class="content-box">
                           <div class="premium">
                           <div class="content">
                               
                             <div class="premium_name">Premium<br>60,000/<span class="premium_name-span">Full course</span> </div>
                             <ul class="premium_content"><li>Live Classes</li>
                                <li>Doubt Clearing Sessions</li>
                                <li>Assessment & Case Study</li>
                                <li>Mentorship</li>
                                <li>Webinar Access</li>
                                <li>Placement Assistance</li>
                                <li>Interview Preparation</li>
                                <li>Resume Building</li></ul><br><br>
                
                          
                           <button class="btn-2">Try Demo Class</button>
                         </div> 
                         </div> 
                         </div>
                        </div>
                      
                     <div class="splide__slide">
                       <div class="content-box">
                        <div class="content">
                
                         <div class="name">Premium Combo<br>30,500/<span class="name-span">Full course</span> </div>
                         <ul class="course-content"><li>Live Classes</li>
                            <li>Doubt Clearing Sessions</li>
                            <li>Assessment & Case Study</li>
                            <li>Mentorship</li>
                            <li>Webinar Access</li>
                            <li>Placement Assistance</li></ul>
                            
                         
                         <button class="btn-1">Try Demo Class</button>
                         
                        
                      </div>
                     </div>
                   </div> -->
                </div>
            </div>
        </div>
        </div>
    
        <div class="emi-container">
            <div class="emi_box">
                <h2 class="emi">Easy EMI</h2>
                <div class="key_features">key features of Easy EMI
                    <ul class="emi_features">
                        <li>No upfront payment required</li>
                        <li>Fixed monthly installments</li>
                        <li>Flexible repayment options</li></ul></div>
            </div>
            <div class="emi_box"><h2 class="emi">Pay After Placement</h2>
                <div class="key_features">key features
                    <ul class="emi_features">
                        <li>With our Pay After Placement program, you invest in your career development now and pay us only when yoy land a job.</li></ul></div>
            </div></div>
    
            <!-- Awaits amazing_career -->
            <section class="amazing_career">
                <h2 class="amazing_heading">Amazing Career</h2>
                <div class="awaits">Awaits!</div>
                <p class="grab_offer">Grab these exclusive offers available only once a year.</p>
                <div class="buy_course_container">
                    <div class="buy_course_box">
                        <div class="buy_course">BUY 2 COURSES & GET MORE</div>
                        <h4 class="off">OFF</h4>
                        <div class="percentage">15%</div> 
                           
                    </div>
                    <div class="buy_3course_box">
                        <div class="buy_3course">BUY 3 COURSES & GET MORE </div>
                        <h4 class="off_3">OFF</h4>
                        <div class="percentage_3">20%</div>    
                    </div>
                    <div class="buy_course_box">
                        <div class="buy_course">BUY 4 COURSES & GET MORE </div>
                        <h4 class="off">OFF</h4>
                        <div class="percentage">25%</div>    
                    </div>
                </div>
                <button class="btn-3">GRAB THE DEAL</button>
            
            </section>
    </section>      
        
        <!-- FAQ -->
        <div class="container-main faq">
          <div class="ac-main">
            <h1>Frequently Asked <span>Questions</span></h1>
            <div class="accordion">
              <div class="accordion-item">
                <div class="accordion-item-header">
                  Q1. I am not a student of BAOIAM. Can I still refer a friend?
                </div>
                <!-- /.accordion-item-header -->
                <div class="accordion-item-body">
                  <div class="accordion-item-body-content">
                Yes, If you are aware of BAOIAM and believe in what we are
                doing, then feel free to refer your friend.
              </div>
            </div>
            <!-- /.accordion-item-body -->
          </div>
          <!-- /.accordion-item -->
        </div>
        <div class="accordion">
          <div class="accordion-item">
            <div class="accordion-item-header">
              Q2. How can I track the status of my referrals?
            </div>
            <div class="accordion-item-body">
              <div class="accordion-item-body-content">
                You will be informed by email once BAOIAM receives your referral
                details.
              </div>
            </div>
          </div>
        </div>
        <div class="accordion">
          <div class="accordion-item">
            <div class="accordion-item-header">
              Q3. How will my friends be informed that I referred them?
            </div>
            <div class="accordion-item-body">
              <div class="accordion-item-body-content">
                Your friends will receive an email confirmation from BAOIAM
                informing them that they have been referred by you. They will be
                asked to confirm.
              </div>
            </div>
          </div>
        </div>
        <div class="accordion">
          <div class="accordion-item">
            <div class="accordion-item-header">
              Q4. Will I get a referral reward if a friend/connection already
              exists in the BAOIAM database?
            </div>
            <div class="accordion-item-body">
              <div class="accordion-item-body-content">
                No, there is no reward if your friend is connected with BAOIAM
                or its infromation exists in BAOIAM database
              </div>
            </div>
          </div>
        </div>
        <div class="accordion">
          <div class="accordion-item">
            <div class="accordion-item-header">Q5. Who all can I refer to?</div>
            <div class="accordion-item-body">
              <div class="accordion-item-body-content">
                Anyone who meets the eligibility criteria for our courses can be
                referred. They should be between 18 - 28 years of age. They
                should know the basics of the English language, have a laptop,
                and a good internet connection.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<script src="{% static 'courses\js\index.js' %}"></script>
</html>