{% extends 'base.html' %} {% load static %} {% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Web Development</title> -->

  <link rel="stylesheet" href="{% static 'courses\css\style3.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'courses\css\sidebar.css' %}"> -->
  <link rel="stylesheet" href="{% static 'courses\css\faq.css' %}">
  <!-- <link rel="stylesheet" href="style1.css"> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link href="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymous"
      defer
    ></script>
</head>

<body>
  <form class="popup-form" id="popup-form" method="post" action="{% url 'course:course_contact' %}">
    {% csrf_token %}
    <div class="popup-form-content">
      <div class="close" id="popup-close">&times;</div>
      <lable for="name" id="name">Name</lable>
      <input id="name" type="text" name="name_" />
      <lable for="email" id="email">Email</lable>
      <input id="email" type="email" name="email_"/>
      <lable for="mobile" id="mobile">Mobile</lable>
      <input id="mobile" type="text" name="mobile_"/>
      <label for="professionSelect" id="professionLabel">Profession</label>
      <select id="professionSelect" name="profession_">
        <option value="student">Student</option>
        <option value="teacher">Passed out</option>
        <option value="engineer">Working Professional</option>
      </select>
      <button type="submit" class="popup-submit">Submit</button>
    </div>
  </form>
  <div class="containerr">
    <div>
      <div class="topsection1-container">
        <div class="topsection1-content">
          {% for course in courses %}
          <h1>Earn upto 40LPA Package by enrolling <span>{{course.title}}</span></h1>
          {% endfor %}
          <p>
            <b>100+</b> Courses covering all tech domains for you to learn and
            explore new opportunities. Learn from Industry Experts and land your
            Dream Job.
          </p>
          <!-- <div class="topsection1-input">
            <span class="material-symbols-outlined"> search </span>
            <input type="text" placeholder="What to learn?" />
            <button type="button">Explore</button>
          </div> -->
          <div class="topsection1-countpart">
            <div class="class-1st">
              <h1 class="first">50+</h1>
              <h3 class="first-h3">Courses to choose from</h3>
            </div>
            <div>
              <h1 class="second">5000+</h1>
              <h3>Students Trained</h3>
            </div>
            <div>
              <h1 class="third">150+</h1>
              <h3>Professional Trainers</h3>
            </div>
          </div>
        </div>
        {% for course in courses %}
        <div class="topsection1-image">
            <img src="{% static 'courses/img/asset.jpg' %}" alt="image" />
            {% for category in categories %}
                {% if category.file and category.id == course.category.id %}
                    <div class="topsection1-button">
                        <button class="interested button-one" onclick="openForm()">I AM INTERESTED</button>
                        <a href="{% url 'course:download_file' file_id=category.id %}" class="broucher">DOWNLOAD BROCHURE</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
      </div>

    </div>

        {% for course in courses %}
        <div class="second-section-container">
          <div class="second-section-div1">
            <img src="{% static 'courses\img\Image 2.jpg' %}" alt="" />
          </div>
  
            <div class="second-section-div2">
              <div>
                <h1>{{course.title}}</h1>
                <p>{{course.description}}</p>
                <h3>Instructor: <b>{{course.instructor}}</b></h3>
                <div class="flex-row-1">
                  <a href="#Right-course"><button class="btn-33">Enroll Now</button></a>
                  <!-- <button class=" btn-332">Connect with our Expert</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    
      <!-- {% for course in courses %} -->
      <!-- <div class="topsection1-container"> -->
      <!-- <div class="topsection1-content">


          <section class="one">
            <div class="info">
              {% comment %} <button id="certified">Certified Online Training</button> {% endcomment %}
              <h1>{{course.title}}</h1>
              <p>{{course.description}}</p>
              <p>Instructor : <strong>{{course.instructor}}</strong></p>
              <div class="offer-section">
                <button class="offer">
                  ₹ {{course.price}}</button>
                {% if course in enrolled_courses %}
                <button class="btn-enroll">
                  Already Enrolled</button>
                {% else %}
                <a href="{% url 'dashboard:enroll_course' course_id=course.id %}"><button class="btn-enroll">
                    Enroll Now </button></a>
              </div>
               <h4>{{course.title}} Carriculum</h4>
                     <h4>{{course.carriculum_title}}</h4>
                     <h4>{{course.carriculum_desc}}</h4> -->
      <!--<h4>{{course.batch}}</h4>
              <h4>Batches for {{ course.title }}</h4>
              <ul>

                <li>{{ batch.batch_name }} - Start Date: {{ batch.start_date }} - End Date: {{ batch.end_date }}</li>
              </ul> -->
      <!-- <div class="pic">
                    {% if course.image %}
                            <img src="{{ course.image.url }}" alt="{{ course.title }} Image" />
                            {% else %}
                            <p>No image available</p>
                    {% endif %}
                  </div> -->
      <!-- <div class="plan">
                <a href="{% url 'dashboard:enroll_plan' course_id=course.id date='2024-3-27' %}"><button
                    class="my-2 btn-enroll">
                    3 Month Plan </button>
                </a>
                <a href="{% url 'dashboard:enroll_plan' course_id=course.id date='2024-6-27' %}"><button
                    class="my-2 btn-enroll">
                    6 Month Plan </button>
                </a>
                <a href="{% url 'dashboard:enroll_plan' course_id=course.id date='2024-9-27' %}"><button
                    class="my-2 btn-enroll">
                    9 Month Plan </button>
                </a>
              </div>
              {% endif %}
          </section>

        </div>
        <div class="topsection1-image">

          {% if course.image %}
          <img src="{{ course.image.url }}" alt="{{ course.title }} Image" />
          {% else %}
          <p>No image available</p>
          {% endif %}

        </div>
      </div> -->
      
      
    



  <!-- Program overview -->
  <section class="three">
    <div class="why-web-dev-box">
      <div class="why-web-dev">
        <h3 id="why-web-dev-heading-1">
          Program <span class="underline">Overview</span>
        </h3>
        {% if program_overview %}
          <!-- Split the program overview into separate chapters -->
          <div>
          {% for chapter in program_overview %}
            <h5>{{ chapter }}</h5>
          
            <hr> <!-- Example of a horizontal divider -->
            {% endfor %}
          </div>
        {% else %}
          <p>No program overview available</p>
        {% endif %}
      </div>
      <div class="image">
        {% if course.image %}
          <img src="{{ course.image.url }}" alt="{{ course.title }} Image" />
        {% else %}
          <p>No image available</p>
        {% endif %}
      </div>
    </div>
  </section>
  {% endfor %}
  <!-- Course Highlights -->
  <section class="section-three">
    <div>
      <h2><span class="underline"> Course </span> Highlights</h2>
      <ul>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div class="divide">
            <h4>Live online classes</h4>
            <p>learn from our experts live</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div class="divide">
            <h4>Doubt clearing sessions</h4>
            <p>get all your doubts cleared by your experts</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div class="divide">
            <h4>Placement assistance</h4>
            <p>Access support for securing better jobs</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div class="divide">
            <h4>Placement assessment</h4>
            <p>Evaluate your readiness for job opportunities</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div class="divide">
            <h4>Internships get hands</h4>
            <p>on experience by working in several firms</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div class="divide">
            <h4>Certificate of completion</h4>
            <p>validated your skills with a recognized certification</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div class="divide">
            <h4>Letter of recommendation</h4>
            <p>enhance your credibility with endorsements from professionals
            </p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div class="divide">
            <h4>Mentorship sessions</h4>
            <p>Guidance from industry experts</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div class="divide">
            <h4>Live projects</h4>
            <p>Hands on live project with expert guidance</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div class="divide">
            <h4>Digital resource hub</h4>
            <p> Best digital materials for learning and exploration</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <!-- Curriculum -->
  <section class="seven">
    <h1>Course <span class="underline">Curriculum</span></h1>
    <div class="curriculum">
      {% for curr in carriculum %}
      <div class="curriculum-item">
        <h2 class="curriculum-item-header">
            {{curr.carriculum_title|safe}}
            <span class="material-symbols-outlined">
              expand_more
              </span>
        </h2>
        <div class="curriculum-item-body">
          <div class="curriculum-item-body-content">
            {{curr.carriculum_desc|safe}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <!-- Testimonials -->
  <section class="testimonial">
    {% for course in courses %}
    <h1 class="testimonial-heading">Testimonials for <span class="underline">{{ course.category.name }}</span></h1>
    <div class="slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
                {% for testimonial in course.category.testimonials.all %}
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="{{ testimonial.image.url }}" alt="#" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">{{ testimonial.name }}</h2>
                        <p><span class="role">{{ testimonial.role }}</span></p>
                        <p>{{ testimonial.content }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
    </div>
    {% endfor %}
</section>

  <!-- Right Course -->
  <section class="Right-course" id="Right-course">
    <h2>
        Join With Us 
        Find<br />the <span class="underline">Right Course</span>
    </h2>
    <div class="slider_wrapper">
        <div class="splide">
            <div class="splide__track">
                <div class="splide__list">
                    {% for plan in subscription_course_plans %}
                        <div class="splide__slide">
                            <div class="content-box">
                                <div class="content">
                                    <div class="slide-name">{{ plan.subscription_plan.name }}</div>
                                    <div class="temp">{{ plan.course.title }}</div>
                                    <div class="price">{{ plan.subscription_plan.price }}/Full course</div>
                                    {% if plan.subscription_plan.name == "Plus" %}
                                        <ul class="course-content">
                                            <li>{{ plan.course_features|linebreaks }}</li>
                                        </ul>
                                    
                                    {% elif plan.subscription_plan.name == "Plus Combo" %}
                                        <ul class="course-content">
                                          <li>{{ plan.course_features|linebreaks }}</li>
                                        </ul>
                                    {% elif plan.subscription_plan.name == "Premium" %}
                                        <ul class="course-content">
                                          <li>{{ plan.course_features|linebreaks }}</li>
                                        </ul>
                                    {% elif plan.subscription_plan.name == "Premium Combo" %}
                                        <ul class="course-content">
                                          <li>{{ plan.course_features|linebreaks }}</li>
                                        </ul>
                                    {% endif %}
                                    <div  >
                                    <form id="enroll-form" class="courses-enroll-btn" method="post" action="/subscription/create_purchase_record/">
                                      {% csrf_token %}
                                      <input type="text" name="course_id" id="course_id" value="{{ plan.course.id }}">
                                      <input type="text" name="plan_id" id="plan_id" value="{{ plan.subscription_plan.id }}">
                                      <input type="text" name="username" id="username" value="{{ request.user.username }}">
                                      <button type="submit" class="enroll-btn">Enroll Now</button>
                                    </form>
                                  </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

  <div class="emi-container">
    <div class="emi_box">
      <h2 class="emi">Easy EMI</h2>
      <div class="key_features">easy monthly payment options with our emi facilities
        <ul class="emi_features">
          <li>No upfront payment required</li>
          <li>Fixed monthly installments</li>
          <li>Flexible repayment options</li>
        </ul>
      </div>
    </div>
    <div class="emi_box">
      <h2 class="emi">Pay After Placement</h2>
      <div class="key_features">pay only when you get placed with our Pay After Placement support
        <ul class="emi_features">
          <li>With our Pay After Placement program, you invest in your career development now and pay us only when yoy
            land a job.</li>
        </ul>
      </div>
    </div>
  </div>

    <!-- Awaits amazing_career -->
    <section class="amazing_career">
      <div class="amazing-container">
        <h2 class="amazing_heading">Amazing <span class="underline">Career</span></h2>
        <!-- <div class="awaits">Awaits!</div> -->
        <p class="grab_offer">Grab these exclusive offers available only once a year.</p>
        <div class="buy_course_container">
          <div class="buy_course_box">
            <div class="buy_course">BUY 2 COURSES & GET</div>
            <div class="percentage">15%</div>
            <h4 class="off">OFF</h4>

          </div>
          <div class="buy_course_box">
            <div class="buy_course">BUY 3 COURSES & GET</div>
            <div class="percentage_3">20%</div>
            <h4 class="off">OFF</h4>
          </div>
          <div class="buy_course_box">
            <div class="buy_course">BUY 4 COURSES & GET</div>
            <div class="percentage">25%</div>
            <h4 class="off">OFF</h4>
          </div>
        </div>
        
      </div>
      <!-- <button class="btn-3">GRAB THE DEAL</button> -->
    </div>

  </section>

  <!-- testing -->
  <!-- FAQ -->

  <!-- <section class="section-nine">
    <div class="container-main faq"> -->
    <div class="ac-main">
      <h1>Frequently Asked <span>Questions</span></h1>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q1. What is the procedure for signing up on the website?
          </div>
          <!-- /.accordion-item-header -->
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              The sign-up procedure for our website consists of 4 simple steps:<br>
              <ul style="list-style-type:disk">
                 <li>Go to our website and click on the Login button and then the Signup button or just click this link <a href="http://www.baoiam.com/Login/index.html">http://www.baoiam.com/Login/index.html</a></li>
                 <li>Enter a Username of your choice.</li>
                 <li>Enter your Email ID.</li>
                 <li>Create a strong password with uppercase, lowercase, numbers, and special characters.</li>
                 <li>Click on Sign up and there you go, you are now a part of the Baoiam family!</li>
                 </ul>
            </div>
          </div>
          <!-- /.accordion-item-body -->
        </div>
        <!-- /.accordion-item -->
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q2. How do I enroll or register, if I am interested in an online course?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              The enrollment process is as easy as the sign-up process.<br>
              <ul style="list-style-type:disk">
               <li>Take a Dashboard tour and head to the Courses section.</li>
               <li>You will find a wide range of specially curated courses.</li>
               <li>Explore them and choose the one you like.</li>
               <li>Click on Enroll Now</li>
               </ul>

            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q3. What kind of skill-based courses do you offer?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              We offer a wide range of courses like Web Development, Data Analytics, Graphic Designing, UI/UX, 
              Product Management, Human Resources, Android Development, Digital Marketing, SEO, and Entrepreneurship.
               Head to the Courses section to explore many such skills-centric courses
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q4. Can I opt for more than one course at a time?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, we at Baoiam do not limit your potential and therefore give you the option to choose multiple courses at a time.
              <br>We also provide with options where you can get various discounts by buying multiple courses together.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q5. How long does each course take?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Each course is timed differently depending on the lessons, modules and degree of difficulty.
              The duration of each course is mentioned on their respective course pages
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q6. Do you provide any study material?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, we do provide study material that can be downloaded and accessed by you at any time
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q7. Are the classes live or recorded?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              We have live classes as it involves interaction and engagement
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q8. Will I gain access to the recorded sessions if I’m unable to attend the live classes?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, we understand that juggling your college studies or work and course studies might be hard, 
              so you will be able to access the recorded sessions
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q9. Will there be regular doubt-clearing sessions?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, the doubt-clearing session is one of the key features of Baoiam, as we don't want our students to have half-baked knowledge
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q10. Will I get a 'Certificate of Completion' after completing the course?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, you will get a Certificate of Completion only after you attend all classes, 
              complete the assignments and projects and get good scores on the tests.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q11. How helpful will the Certificate be in future?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              This Certificate can pave the way to your desired career, as you will be trained and highly skilled in your respective field
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q12. How can I earn through the ‘Refer and Earn’ program?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <ul style="list-style-type:disk">
                 <li>Create an account on Baoiam and then go to the Refer and Earn page.</li>
                 <li>Enter your Email ID and generate the referral code.</li>
                 <li>Share this code with your friends.</li>
                 <li>If they get enrolled using your code, you earn exciting cash prizes.</li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q13. Is my placement guaranteed if I enroll in one of the ‘Payment after Placement’ courses?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, the placements are guaranteed as you will be equipped with skills that are high in demand and have large scope
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">Q14. How do I contact Customer Care for technical or payment issues?</div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <ul>
                <li>Send us an email: tutors@baoiam.com</li>
                <li>Give us a ring: +91-8062179867</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
 
</div>
  </div>
  </div>
  <script>
    function openForm() {
      document.getElementById("popup-form").style.display = "block";
    }

    document
      .getElementById("popup-close")
      .addEventListener("click", function () {
        document.getElementById("popup-form").style.display = "none";
      });

    function closeForm() {
      document.getElementById("popup-form").style.display = "none";
    }
  </script>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<script src="{% static 'courses\js\index.js' %}"></script>


  
</html>
{% endblock content %}
