{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/another.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/courses.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'dashboard/css/live-classes.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <script src="{% static 'dashboard/js/script.js' %}" defer></script>
  </head>
  <body>
    <div class="blackshadow" id="blackshadow"></div>
    <aside class="aside" id="aside">
      <div class="image">
        <img src="{% static 'home/img/brand.png'%}" alt="" />
      </div>
      <div class="ProfileAndName">
        <div class="profilePic">
          <img
            src="https://imgs.search.brave.com/duA2S9Wsl1l-UlkFs_zNe144nS0QHgngWR8l3gwhS7A/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9mdW5r/eXN0YXR1cy5jb20v/d3AtY29udGVudC91/cGxvYWRzLzIwMjIv/MTIvSGFudW1hbi1p/bWFnZXMzNS5qcGc"
            alt=""
          />
        </div>
        <h1>{{ user.username }}</h1>

        <p>{{ user.email }}</p>
      </div>
      <div class="links">
        <div class="link">
          <a href="{% url 'core:index' %}" class="a"
            ><span class="material-symbols-outlined"> home </span>
            <h2>Home</h2></a
          >
        </div>
        <div class="link">
          <a href="#" id="profile" class="a activeHai">
            <span class="material-symbols-outlined"> person </span>
            <h2>Profile</h2></a
          >
        </div>
        <div class="link">
          <a href="#" id="course" class="a"
            ><span class="material-symbols-outlined"> laptop_mac </span>
            <h2>Course</h2></a
          >
        </div>
        <div class="link">
          <a href="#" id="certificate" class="a"
            ><span class="material-symbols-outlined"> developer_guide </span>
            <h2>Certificate</h2></a
          >
        </div>
        <div class="link">
          <a href="#" id="liveClasses" class="a">
            <span class="material-symbols-outlined"> live_tv </span>
            <h2>Live Classes</h2></a
          >
        </div>
        <div class="link">
          <a href="{% url 'userauths:logout' %}" class="a">
            <span class="material-symbols-outlined"> logout </span>
            <h2>Logout</h2></a
          >
        </div>
        <div class="down">
          <button class="in" id="up-arrow">
            <span class="material-symbols-outlined"> expand_less </span>
          </button>
        </div>
      </div>
    </aside>
    <section class="container">
      <div class="just"></div>
      <main class="main" id="main">
        <div class="down">
          <button class="in" id="down-arrow">
            <span class="material-symbols-outlined"> expand_more </span>
          </button>
        </div>
        <section id="head-section-content">
          <header class="head-section" id="head-section">
            <section class="name-section">
              <h2>Namaskar {{ user.username }}</h2>
              <p>It's good to see you again.</p>
            </section>
            <section class="searchbar-section">
              <input type="text" class="search-bar" placeholder="Search" />
              <span
                class="material-symbols-outlined bell-icon"
                id="notifications"
              >
                notifications
              </span>
            </section>
          </header>
        </section>
        <section class="form-section" id="form-section">
          <form class="form" method="POST">
            {% csrf_token %}
            <section class="close-details-section" id="close-details-section">
              <div class="close-details" id="close-details">&times;</div>
            </section>

            <section class="form-content">
              <div class="profile-image-section">
                <section class="profile-image"></section>
                <br />
                <input
                  type="file"
                  class="upload-photo"
                  accept="image/*"
                  placeholder="Select Profile Photo"
                />
              </div>
              <br /><br />
              <div class="first-middle-last">
                <div class="form-element">
                  <label for="first-name" class="first-name"></label>
                  <input
                    type="text"
                    id="first-name"
                    placeholder="First name"
                    value="{{ dash_user.fname }}"
                    name="first_name"
                  />
                </div>
                <div class="form-element">
                  <label for="middle-name" class="middle-name"></label>
                  <input
                    type="text"
                    id="middle-name"
                    placeholder="Middle name"
                    value="{{ dash_user.mname }}"
                    name="middle_name"
                  />
                </div>
                <div class="form-element">
                  <label for="last-name" class="last-name"></label>
                  <input
                    type="text"
                    id="last-name"
                    placeholder="Last-name"
                    value="{{ dash_user.lname }}"
                    name="last_name"
                  />
                </div>
              </div>
              <div class="college-details">
                <div class="form-element">
                  <label for="college-name" class="college-name"></label>
                  <input
                    type="text"
                    id="college-name"
                    placeholder="College Name"
                    value="{{ dash_user.collegename }}"
                    name="college_name"
                  />
                </div>
                <div class="form-element">
                  <label for="education" class="education"></label>
                  <select
                    type="text"
                    id="education"
                    placeholder="Education"
                  ></select>
                </div>

                <div class="form-element">
                  <label for="graduation-year" class="graduation-year"></label>
                  <select
                    type="text"
                    id="graduation-year"
                    placeholder="Graduation Year"
                    value="{{ dash_user.graduation_year }}"
                    name="graduation_year"
                  ></select>
                </div>
              </div>
              <div class="personal-details">
                <div class="form-element">
                  <label for="mobile-number" class="mobile-number"></label>
                  <input
                    type="text"
                    id="mobile-number"
                    placeholder="Enter Mobile Number"
                    value="{{ dash_user.mobilenumber }}"
                    name="mobile_number"
                  />
                </div>
                <div class="form-element">
                  <label for="github" class="github"></label>

                  <input
                    type="text"
                    id="github"
                    placeholder="Github URL"
                    required
                  />
                </div>
                <div class="form-element">
                  <label for="linkedin" class="linkdin"></label>

                  <input type="text" id="linkdin" placeholder="Linkdin URL" />
                </div>
              </div>
              <div class="form-element">
                <!-- <label for="bio" class="bio"></label> -->
                <textarea
                  id="bio"
                  placeholder="Bio : Your Profile Summary should mention the highlights of your career and education, what your professional interests are, and what kind of a career you are looking for. Write a meaningful summary of more than 50 characters."
                  value="{{ dash_user.bio }}"
                  name="bio"
                  maxlength="50"
                ></textarea>
              </div>
              <div class="socialmedia-section" id="socialmedia-section">
                <div class="add-section">
                  <input
                    type="text"
                    id="socialmedia"
                    placeholder="Social Media URL"
                  />
                  <button
                    type="button"
                    class="socialmedia-icon"
                    id="socialmedia-icon"
                    onclick="addIcon()"
                  >
                    <span class="material-symbols-outlined add-icon">
                      add_circle
                    </span>
                  </button>
                </div>
              </div>

              <div class="form-element btn" id="submit-btn-section">
                <button type="submit" class="submit-btn">Submit</button>
              </div>
            </section>
          </form>
        </section>
        <section
          class="registered-details-section"
          id="registered-details-section"
        >
          <section class="registered-profile" id="registered-profile">
            <!-- <div></div> -->
            <!-- <section class="registered-photo"></section> -->
            <section class="registered-details">
              <section class="registered-name-section">
                <h2 class="registered-name">{{ dash_user.fname }}</h2>
                <button type="button" class="edit-details" id="edit-details">
                  <span class="material-symbols-outlined"> edit </span>
                </button>
              </section>
              <hr />
              <br />
              <div class="bio">
                <b>Bio :</b> Your Profile Summary should mention the highlights
                of your career and education, what your professional interests
                are, and what kind of a career you are looking for. Write a
                meaningful summary of more than 50 characters.
              </div>
              <br />
              <div class="registered-other-details">
                <div class="first-part">
                  <div class="registered-college-name element">
                    <span class="material-symbols-outlined"> school </span
                    >{{dash_user.collegename}}
                  </div>
                  <div class="registered-college-name element">
                    <span class="material-symbols-outlined">
                      workspace_premium</span
                    >Master of Computer Application
                  </div>
                  <div class="registered-graduation-year element">
                    <span class="material-symbols-outlined"> date_range </span
                    >2023
                  </div>
                  <div class="registered-github element">
                    <span class="material-symbols-outlined"> link </span
                    >hanuman.github.com
                  </div>
                </div>
                <!-- <div class="vl"></div> -->
                <div class="second-part">
                  <div class="registered-mobile-number element">
                    <span class="material-symbols-outlined"> call </span
                    >{{dash_user.mobilenumber}}
                  </div>

                  <div class="registered-email-id element">
                    <span class="material-symbols-outlined"> mail </span
                    >{{user.email}}
                  </div>
                  <div class="registered-email-id element">
                    <span class="material-symbols-outlined"> link </span
                    >hanumn.linkedin.com
                  </div>
                  <div class="registered-socialmedia element">
                    <span class="material-symbols-outlined"> link </span>social
                    media
                  </div>
                </div>
              </div>
            </section>
            <div class="statistics">
              <div class="static">
                <div class="div1">
                  <div class="divi">
                    <h2>20hr</h2>
                    <p>Tracked time</p>
                  </div>
                </div>

                <div class="div2">
                  <div class="divi">
                    <h2>15</h2>
                    <p>Finished tasks</p>
                  </div>
                </div>
                <div class="div3">
                  <div class="divi">
                    <h2>
                      <span class="material-symbols-outlined"> widgets </span>
                    </h2>
                    <p>New widget</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </section>

        <!-- //course section -->

        <div class="courseDiv" id="courseDiv">
          <h2>Enroll Courses</h2>

          <section id="course-card-section">
            {% for course in enrolled_courses %}
            <div class="course-card">
              <div class="card-image-section">
                {% if course.video %}

                <video
                  id="courseVideo"
                  width="1000"
                  height="1000"
                  controls
                  style="display: none"
                >
                  <source src="{{ course.video.url }}" type="video/mp4" />
                  <!--<source src="{{ course.video.url }}" type="video/webm">
              <source src="{{ course.video.url }}" type="video/ogg"> -->
                  Your browser does not support the video tag.
                </video>
                {% else %}
                <p>No video available</p>
                {% endif %}
              </div>
              <div class="card-content">
                <div class="completed-percentage">
                  <div class="inner" style="width: 55%"></div>
                </div>
                <div class="lectures-completed">55/100 lectures completed</div>
                <h3 class="course-name">{{course.title}}</h3>
                <div class="last-read">Last read: Layout grids</div>

                <button
                  type="button"
                  class="resume-btn-element"
                  onclick="playVideo()"
                >
                  <span class="material-symbols-outlined"> play_arrow </span
                  >Resume Course
                </button>
              </div>
            </div>
            {% endfor %}
          </section>
        </div>
        <script>
          function playVideo() {
            var videoElement = document.getElementById("courseVideo");
            videoElement.style.display = "block";
            videoElement.play();
          }
        </script>

        <section
          id="certificate-section"
          style="background-color: red"
        ></section>

        <!-- live classes section -->

        <section id="liveClasses-section">
          <button type="button" class="live-card" id="live-card">
            Course name
          </button>
          <div id="live-content">
            <div class="live-card-description">
              <div class="live-course-name">Course name</div>
              <div class="live-batch">Batch1</div>
              <div class="live-tutor">Tutor</div>
              <div class="live-start-date">Starting date</div>
              <div class="live-link">
                <a href="#">Link for the session</a>
              </div>
            </div>
          </div>
        </section>
        
      </main>
    </section>
  </body>
</html>
