{% extends 'base.html' %} {% load static %} {% block content %}

<section class="one">
    <div class="info">
      <button id="certified">Certified Online Training</button>
      <h1>Digital <span class="underline">Marketing</span> Course</h1>
      <p>
        Welcome to our Digital Marketing course! Our goal is to help you
        develop the skills you need to become a successful digital marketer.
      </p>
      <p>Languages : <strong>Hindi, English</strong></p>
      <button class="offer">
        1+1 Offer: Get Internship & Job Preparation training FREE on purchase
        of Digital Marketing training!
      </button>
      <button class="btn-enroll" onclick="showRegistrationForm()">Enroll Now</button>
    </div>
    <div class="pic">
      <img src="../images/46.jpeg" />
    </div>
  </section>

  <section class="two">
    <h1>Course <span class="underline">Highlights</span></h1>
    <div class="features">
      <ul>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div>
            <p class="heading">Learn Online</p>
            <p>At your own schedule</p>
          </div>
        </li>
        <li>
          <i class="fa-sharp fa-solid fa-certificate"></i>
          <div>
            <p class="heading">Certificate Of Training</p>
            <p>From Internshala Trainings</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-user-group"></i>
          <div>
            <p class="heading">Beginner friendly</p>
            <p>No prior knowledge required</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-phone"></i>
          <div>
            <p class="heading">Mobile friendly</p>
            <p>No laptop? No problem</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-diagram-project"></i>
          <div>
            <p class="heading">Projects</p>
            <p>For hands-on practice</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-calendar"></i>
          <div>
            <p class="heading">8 weeks duration</p>
            <p>1 hr/day (flexible schedule)</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-handshake-angle"></i>
          <div>
            <p class="heading">Placement assistance</p>
            <p>To build your career</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-lightbulb"></i>
          <div>
            <p class="heading">Doubt clearing</p>
            <p>Through Q&A forum</p>
          </div>
        </li>
        <li id="last">
          <i class="fa-solid fa-business-time"></i>
          <div>
            <p class="heading">Downloadable content</p>
            <p>With lifetime access</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="three">
    <h1 id="why-web-dev-heading-2">
      Course<span class="underline"> Overview</span>
    </h1>
    <div class="why-web-dev-box">
      <div class="why-web-dev">
        <h3 id="why-web-dev-heading-1">
          <span class="underline">Course overview</span>
        </h3>
        <p>
          Our Digital Marketing course is designed to provide you with a
          comprehensive understanding of digital marketing concepts and
          strategies. The course is divided into four levels: beginner,
          intermediate, advanced, and professional. Each level consists of 10
          units, and each unit focuses on a different aspect of digital
          marketing.
        </p>
        <p class="heading">Be in demand</p>

        <p class="heading">Eat-Sleep-Work-Repeat</p>
        <p>Be it rain or sunshine, Marketing is always on your mind.</p>
      </div>
      <div class="image">
        <img src="41.jpg" />
      </div>
    </div>
  </section>
  <section class="five">
    <h3 id="placement-info-heading-2">
      <span>What <span class="underline">placement assistance</span> will you
        receive?</span>
    </h3>
    <div class="placement-info">
      <div class="why-web-dev">
        <h3 id="placement-info-heading-1">
          <span>What <span class="underline">placement assistance</span> will you
            receive?</span>
        </h3>
        <p class="heading">Free Placement Prep Training</p>
        <p>
          Learn how to build your resume, make great applications, and ace
          your interviews.
        </p>
        <p class="heading">Curated internships & jobs</p>
        <p>
          Get internships and fresher jobs as per your preference in your
          inbox.
        </p>
        <p class="heading">Get highlighted on Internshala</p>
        <p>
          Top performers will be highlighted in their internship & job
          applications on Internshala.
        </p>
      </div>
      <div class="image">
        <img src="16.jpg" />
      </div>
    </div>
  </section>

  <section class="six">
    <h1>How will your <span class="underline">training</span> work?</h1>
    <div class="features">
      <ul>
        <li>
          <i class="fa-solid fa-chalkboard-user"></i>
          <div>
            <p class="heading">Learn concepts</p>
            <p>Go through training videos to learn concepts</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-check-double"></i>
          <div>
            <p class="heading">1:1 doubt solving</p>
            <p>
              Get your doubts solved by experts through Q&A forum within 24
              hours
            </p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-brain"></i>
          <div>
            <p class="heading">Test yourself</p>
            <p>
              Test your knowledge through quizzes & module tests at regular
              intervals
            </p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-pen"></i>
          <div>
            <p class="heading">Take final exam</p>
            <p>Complete your training by taking the final exam</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-hands"></i>
          <div>
            <p class="heading">Hands-on practice</p>
            <p>Work on assignments and projects.</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-award" style="padding: 1rem 1.2rem; font-size: 1.8rem"></i>
          <div>
            <p class="heading">Get certified</p>
            <p>
              Get certified in Digital Marketing upon successful completion of
              training
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="seven">
    <h1>Digital Marketing</h1>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h4 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Course Objectives
          </button>
        </h4>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul>
              <li>Understand the fundamentals of digital marketing</li>
              <li>
                Develop your knowledge of different digital marketing
                channels, including social media, email marketing, and search
                engine marketing
              </li>
              <li>
                Learn to create and implement a digital marketing strategy
              </li>
              <li>
                Understand how to measure and analyze the effectiveness of
                digital marketing campaigns
              </li>
              <li>
                Develop your skills in content marketing, copywriting, and
                search engine optimization (SEO)
              </li>
              <li>
                Build your knowledge of digital marketing tools and
                technologies
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h4 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Course Materials:
          </button>
        </h4>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              <strong>Textbook:</strong> We will use a coursebook designed
              specifically for our Digital Marketing course. <br />
              <strong>Online Resources:</strong> You will have access to a
              range of online resources, including case studies, videos, and
              interactive activities.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h4 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Course Activities:
          </button>
        </h4>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Our Digital Marketing course includes various activities to
              help you practice your skills. Some of the activities you can
              expect to do include:
            </strong>
            <ul>
              <li>Group projects and case studies</li>
              <li>Creating a digital marketing plan</li>
              <li>Analyzing digital marketing metrics</li>
              <li>Copywriting and content creation practice</li>
              <li>SEO and social media marketing practice</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br />
  </section>
  <section class="nine">
    <h1><span class="underline">Reviews</span> From Students</h1>
    <h2>Average Rating : 4.5</h2>

    <!-- Slider2 -->
    <section class="slider2">
      <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <img src="14.jpg" alt="" />
            </div>
            <div class="blog-slider__content">
              <span class="blog-slider__code">26 December 2019</span>
              <div class="blog-slider__title">REVIEW</div>
              <div class="blog-slider__text">
                Baoiam revolutionized my learning journey! Its intuitive
                interface, interactive lessons, and fun quizzes turned
                studying into a delightful and fruitful experience. A true
                game-changer in my learning process.
              </div>
              <a href="#" class="blog-slider__button">READ MORE</a>
            </div>
          </div>

          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <img src="19.jpg" alt="" />
            </div>
            <div class="blog-slider__content">
              <span class="blog-slider__code">26 December 2019</span>
              <div class="blog-slider__title">REVIEW</div>
              <div class="blog-slider__text">
                Baoiam's interactive assignments and projects have
                significantly elevated my practical skills. The platform's
                unique approach enabled immediate application of knowledge,
                fostering my confidence. A crucial companion on my learning
                journey.
              </div>
              <a href="#" class="blog-slider__button">READ MORE</a>
            </div>
          </div>

          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <img src="../images/44.jpg" alt="" />
            </div>
            <div class="blog-slider__content">
              <span class="blog-slider__code">26 December 2019</span>
              <div class="blog-slider__title">REVIEW</div>
              <div class="blog-slider__text">
                Baoiam revolutionized my learning journey! Its intuitive
                interface, interactive lessons, and fun quizzes turned
                studying into a delightful and fruitful experience. A true
                game-changer in my learning process.
              </div>
              <a href="#" class="blog-slider__button">READ MORE</a>
            </div>
          </div>
        </div>
        <div class="blog-slider__pagination"></div>
      </div>
    </section>
  </section>

  <!-- FAQ -->
  <div class="container-main faq">
    <div class="ac-main">
      <h1>Frequently Asked <span>Questions</span></h1>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q1. I am not a student of BAOIAM. Can I still refer a friend?
          </div>
          <!-- /.accordion-item-header -->
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, If you are aware of BAOIAM and believe in what we are
              doing, then feel free to refer your friend.
            </div>
          </div>
          <!-- /.accordion-item-body -->
        </div>
        <!-- /.accordion-item -->
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q2. How can I track the status of my referrals?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              You will be informed by email once BAOIAM receives your referral
              details.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q3. How will my friends be informed that I referred them?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Your friends will receive an email confirmation from BAOIAM
              informing them that they have been referred by you. They will be
              asked to confirm.
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Q4. Will I get a referral reward if a friend/connection already
            exists in the BAOIAM database?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              No, there is no reward if your friend is connected with BAOIAM
              or its infromation exists in BAOIAM database
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">Q5. Who all can I refer to?</div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Anyone who meets the eligibility criteria for our courses can be
              referred. They should be between 18 - 28 years of age. They
              should know the basics of the English language, have a laptop,
              and a good internet connection.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
