{% extends 'base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="{% static 'itie\css\style.css' %}" />
    <link rel="stylesheet" href="{% static 'itie\css\query.css' %}" />
    <script defer src="{% static 'itie\js\script.js' %}"></script>
    <title>Document</title>
  </head>
  <body>
    <form class="popup-form" id="popup-form">
      <div class="popup-form-content">
        <div class="close" id="popup-close">&times;</div>
        <lable for="name" id="name">Name</lable>
        <input id="name" type="text" />
        <lable for="email" id="email">Email</lable>
        <input id="email" type="email" />
        <lable for="mobile" id="mobile">Mobile</lable>
        <input id="mobile" type="text" />
        <button type="button" class="popup-submit">Submit</button>
      </div>
    </form>
    <main class="container" id="container">
      <section
        class="section-one"
        style="background-image: url('{% static 'itie/img/girl.jpg' %}')"
      >
        <div>
          <h1>
            LEARN <span>TEACH</span> <br />
            EARN
          </h1>
          <div class="line"></div>
          <h4>ITIE Revolutionizes Internships</h4>
          <p>
            Our mission is all about learning and sharing Our platform is
            designed to help you gain knowledge, share yout experties with
            others, and earn rewards along the way.
          </p>
          <button class="button-one" id="button-one">I AM INTRESTED</button>
          <input type="text" placeholder="Want to learn?" />
          <button class="button-two">Explore</button>
        </div>
      </section>

      <section class="section-two">
        <div>
          <h2>Program Overview</h2>
          <p>
            Embark on a transformative learning journey with Baoiam Innovations,
            an esteemed E-learning platform since 2020. Dive into comprehensive
            skill development across various disciplines.Revolutionize your
            learning experience with 12,500+ hours of content, 500+ projects,
            and collaborations with 350+ industrial experts. Join us for a
            transformative journey towards accessible education and self-growth.
          </p>
          <h6>⏳ Enrollment Deadline Approching Soon!</h6>
        </div>
        <img src="{% static 'itie/img/img1.avif' %}" alt="" />
        <div class="circle_one"></div>
        <div class="circle_two"></div>
      </section>

      <section class="section-three">
        <div>
          <h2><span> Course </span> Highlights</h2>
          <ul>
            <li>
              <i class="fa-solid fa-graduation-cap"></i>
              <div class="divide">
                <h4>Learn Online</h4>
                <p>At your own schedule</p>
              </div>
            </li>
            <li>
              <i class="fa-solid fa-graduation-cap"></i>
              <div class="divide">
                <h4>Doubt Clearing</h4>
                <p>Through Q&A forum</p>
              </div>
            </li>
            <li>
              <i class="fa-solid fa-graduation-cap"></i>
              <div class="divide">
                <h4>Mobile Friendly</h4>
                <p>No Laptop? No Problem</p>
              </div>
            </li>
            <li>
              <i class="fa-solid fa-graduation-cap"></i>
              <div class="divide">
                <h4>Beginner Friendly</h4>
                <p>No prior knowledge required</p>
              </div>
            </li>
            <li>
              <i class="fa-solid fa-graduation-cap"></i>
              <div class="divide">
                <h4>Placement Assessment</h4>
                <p>To Build Your Career</p>
              </div>
            </li>
            <li>
              <i class="fa-solid fa-graduation-cap"></i>
              <div class="divide">
                <h4>8 Weeks Duration</h4>
                <p>1 hr/day (flexible schedule)</p>
              </div>
            </li>
            <li>
              <i class="fa-solid fa-graduation-cap"></i>
              <div class="divide">
                <h4>Certificate of Traning</h4>
                <p>From Baoiam Tranings</p>
              </div>
            </li>
            <li>
              <i class="fa-solid fa-graduation-cap"></i>
              <div class="divide">
                <h4>Downloadable Content</h4>
                <p>With Lifetime Access</p>
              </div>
            </li>
            <li>
              <i class="fa-solid fa-graduation-cap"></i>
              <div class="divide">
                <h4>Projects</h4>
                <p>For hand-on practice</p>
              </div>
            </li>
            <li>
              <i class="fa-solid fa-graduation-cap"></i>
              <div class="divide">
                <h4>Industry Experts</h4>
                <p>Study From The Best Tutors</p>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <section class="section-four">
        <h2>Courses</h2>
        <div class="cards_container">
          
          <div class="cards">
            <img src="{% static 'itie/img/img1.avif' %}" alt="" />
            <h4>Product Management</h4>
            <h6>Management</h6>
            <p>
              Gain the skill to lead teams, manage resources efficiently, and
              ensure projects are ...more
            </p>
            <div class="timing">
              <p><span>🕓</span> 3 months</p>
            </div>
          </div>
        </div>
      </section>

      <section class="section-five">
        <h2>Testimonials</h2>
        <div class="carousel">
          <i id="left" class="fa-solid fa-angle-left"></i>
          <i id="right" class="fa-solid fa-angle-right"></i>
          <div class="testimonials">
            <div class="details">
              <img src="{% static 'itie/img/img1.avif' %}" alt="" />
              <h4>John Doe</h4>
              <h6>Course Student</h6>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Distinctio nemo quaerat asperiores, esse quibusdam
            </p>
          </div>
          <div class="testimonials">
            <div class="details">
              <img src="{% static 'itie/img/img1.avif' %}" alt="" />
              <h4>John Doe</h4>
              <h6>Course Student</h6>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Distinctio nemo quaerat asperiores, esse quibusdam
            </p>
          </div>
          <div class="testimonials">
            <div class="details">
              <img src="{% static 'itie/img/img1.avif' %}" alt="" />
              <h4>John Doe</h4>
              <h6>Course Student</h6>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Distinctio nemo quaerat asperiores, esse quibusdam
            </p>
          </div>
          <div class="testimonials">
            <div class="details">
              <img src="{% static 'itie/img/img1.avif' %}" alt="" />
              <h4>John Doe</h4>
              <h6>Course Student</h6>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Distinctio nemo quaerat asperiores, esse quibusdam
            </p>
          </div>
          <div class="testimonials">
            <div class="details">
              <img src="{% static 'itie/img/img1.avif' %}" alt="" />
              <h4>John Doe</h4>
              <h6>Course Student</h6>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Distinctio nemo quaerat asperiores, esse quibusdam
            </p>
          </div>
          <div class="testimonials">
            <div class="details">
              <img src="{% static 'itie/img/img1.avif' %}" alt="" />
              <h4>John Doe</h4>
              <h6>Course Student</h6>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Distinctio nemo quaerat asperiores, esse quibusdam
            </p>
          </div>
        </div>
      </section>

      <!-- <section class="section-six">
      <div>
        <h2>Program <span>Certification</span></h2>
      </div>
    </section> -->

      <section class="section-seven">
        <div class="circle_three"></div>
        <div class="circle_four"></div>
        <h2>
          Join With Us <br />
          Find the <span>Right Course</span>
        </h2>
        <div class="carousel-two">
          <!-- <i id="left" class="fa-solid fa-angle-left"></i>
        <i id="right" class="fa-solid fa-angle-right"></i> -->
          <div class="plans">
            <div>
              <h4>Plus</h4>
              <h6><span>₹ 1999</span>/ Full course</h6>
            </div>
            <ul>
              <li>Live Master classes</li>
              <li>industrial Traning</li>
              <li>Mentorship Support</li>
              <li>Live corporate projects</li>
            </ul>
            <div>
              <button>Try Demo Class</button>
            </div>
          </div>
          <div class="plans">
            <div>
              <h4>Premium</h4>
              <h6><span>₹ 7999</span>/ Full course</h6>
            </div>
            <ul>
              <li>Live Master classes</li>
              <li>industrial Traning</li>
              <li>Mentorship Support</li>
              <li>Live corporate projects</li>
            </ul>
            <div>
              <button>Try Demo Class</button>
            </div>
          </div>
          <!-- <div class="plans">
          <div>
            <h4>Premium Combo</h4>
            <h6><span>₹ 30,500</span>/ Full course</h6>
          </div>
          <ul>
            <li>Live Master classes</li>
            <li>industrial Traning</li>
            <li>Mentorship Support</li>
            <li>Live corporate projects</li>
          </ul>
          <div>
            <button>Try Demo Class</button>
          </div>
        </div>
        <div class="plans">
          <div>
            <h4>Plus</h4>
            <h6><span>₹ 30,500</span>/Full course</h6>
          </div>
          <ul>
            <li>Live Master classes</li>
            <li>industrial Traning</li>
            <li>Mentorship Support</li>
            <li>Live corporate projects</li>
          </ul>
          <div>
            <button>Try Demo Class</button>
          </div>
        </div> -->
        </div>
        <div class="schemes">
          <!-- <div class="easyEMI">
          <h2>Easy EMI</h2>
          <h6>key features of easy EMI</h6>
          <ul>
            <li><span>✔</span> No upfront payment required</li>
            <li><span>✔</span> Fixed monthly installment</li>
            <li><span>✔</span> Flexible repayment options</li>
          </ul>
        </div> -->
          <div class="payAP">
            <h2>Pay After Placement</h2>
            <h6>key features</h6>
            <p>
              <span>✔</span> With our Pay After Placement program you invest in
              your carrer development now and pay us only when you land a job
            </p>
          </div>
          <div class="circle_five"></div>
        </div>
      </section>

      <section class="section-eight">
        <div class="deal_section">
          <h4>Amazing Carrer</h4>
          <h5>Awaits!</h5>
          <p>Grab the exclusive offer available only once a year.</p>
          <div class="boxes">
            <div class="off">
              <p>BUY 2 CORESES & GET</p>
              <h6>OFF</h6>
              <span>15%</span>
            </div>
            <div class="off">
              <p>BUY 3 CORESES & GET</p>
              <h6>OFF</h6>
              <span>20%</span>
            </div>
            <div class="off">
              <p>BUY 4 CORESES & GET</p>
              <h6>OFF</h6>
              <span>25%</span>
            </div>
          </div>
          <div class="timer">
            <div>
              <p>20</p>
              <p>days</p>
            </div>
            <span>:</span>
            <div>
              <p>12</p>
              <p>hours</p>
            </div>
            <span>:</span>
            <div>
              <p>21</p>
              <p>minutes</p>
            </div>
            <span>:</span>
            <div>
              <p>54</p>
              <p>seconds</p>
            </div>
          </div>
          <button>GRAB THE DEAL</button>
        </div>
      </section>

      <section class="section-nine">
        <div class="container-main faq">
          <div class="ac-main">
            <h1>Frequently Asked <span>Questions</span></h1>
            <div class="accordion">
              <div class="accordion-item">
                <div class="accordion-item-header">
                  Q1. I am not a student of BAOIAM. Can I still refer a friend?
                </div>
                <!-- /.accordion-item-header -->
                <div class="accordion-item-body">
                  <div class="accordion-item-body-content">
                    Yes, If you are aware of BAOIAM and believe in what we are
                    doing, then feel free to refer your friend.
                  </div>
                </div>
                <!-- /.accordion-item-body -->
              </div>
              <!-- /.accordion-item -->
            </div>
            <div class="accordion">
              <div class="accordion-item">
                <div class="accordion-item-header">
                  Q2. How can I track the status of my referrals?
                </div>
                <div class="accordion-item-body">
                  <div class="accordion-item-body-content">
                    You will be informed by email once BAOIAM receives your
                    referral details.
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion">
              <div class="accordion-item">
                <div class="accordion-item-header">
                  Q3. How will my friends be informed that I referred them?
                </div>
                <div class="accordion-item-body">
                  <div class="accordion-item-body-content">
                    Your friends will receive an email confirmation from BAOIAM
                    informing them that they have been referred by you. They
                    will be asked to confirm.
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion">
              <div class="accordion-item">
                <div class="accordion-item-header">
                  Q4. Will I get a referral reward if a friend/connection
                  already exists in the BAOIAM database?
                </div>
                <div class="accordion-item-body">
                  <div class="accordion-item-body-content">
                    No, there is no reward if your friend is connected with
                    BAOIAM or its infromation exists in BAOIAM database
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion">
              <div class="accordion-item">
                <div class="accordion-item-header">
                  Q5. Who all can I refer to?
                </div>
                <div class="accordion-item-body">
                  <div class="accordion-item-body-content">
                    Anyone who meets the eligibility criteria for our courses
                    can be referred. They should be between 18 - 28 years of
                    age. They should know the basics of the English language,
                    have a laptop, and a good internet connection.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
 {% endblock content %}        
