{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static 'authentication/css/style1.css' %}">
  <title>Login-Page</title>

   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        // Display Django messages using SweetAlert2
        {% if messages %}
            document.addEventListener('DOMContentLoaded', function() {
                {% for message in messages %}
                    Swal.fire({
                        icon: '{% if message.tags == "success" %}success{% elif message.tags == "warning" %}warning{% elif message.tags == "error" %}error{% else %}info{% endif %}',
                        title: "{{ message|escapejs }}",
                        showConfirmButton: false,
                        timer: 3000  // Adjust the duration of the notification
                    });
                {% endfor %}
            });
        {% endif %}
    </script>



</head>

<body>

  <div class="main">
    <div class="cir"></div>
    <div class="box1">
      <div class="container">
        <div class="Bimg">
          <img src="/images/brand.png" alt="" style="width: 200px;">
        </div>
        <h1>Sign In</h1>
        <form method="POST">
          {% csrf_token %}

          <div class="username">
            <div class="icon"><i class="fas fa-user"></i></div>
            <div class="inputbox"><input type="username" name="username" class="" placeholder="username"></div>
          </div>

          <div class="password">
            <div class="icon"><i class="fas fa-lock"></i></div>
            <div class="inputbox">

              <input type="password" name="password" class="" placeholder="Password">
            </div>
          </div>
          <div class="forgot">
            <a href="{% url 'userauths:password_reset' %}">Forgot Password</a>
          </div>
          <div>
            <button class="subbtn" type="submit">Sign In</button><br>
          </div>
        </form>
        <div class="social">
          <p class="socialP">Or Sign up with social platforms</p>
          <div class="icons">
            <div class="circle"><a href="#"><i class="fab fa-facebook-f"></i>
              </a></div>
            <div class="circle"><a href="#"><i class="fab fa-twitter"></i>
              </a></div>
              <div class="circle"><a href="{% url 'social:begin' 'google-oauth2' %}"> <i class="fab fa-google"></i></a></div>
              <div class="circle"><a href="{% url 'social:begin' 'github' %}"><i class="fab fa-github fa-2x"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="box2">
      <div class="oneAndSign">
        <div class="oneOfUs">
          <h2>New here?</h2>
          <p>Those who see possibilities where other see limitations deserve to Be one in A Million!</p>
        </div>
        <div class="signinBtn">
          <a href="{% url 'userauths:signup' %}">SIGN UP</a>
        </div>
      </div>
      <img src="{% static 'authentication/img/log.svg' %}" class="img" alt="">
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/@barba/core"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>

</html>