{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup-page</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
  <title>signup-Page</title>
 
</head>

<body>
  <div class="main">
    <div class="cir"></div>
    <div class="box1">
      <div class="container">
      <div class="Bimg">
        <img src="{% static 'authentication/img/brand.png' %}" alt="" style="width: 200px;">
      </div>
      <h1>Sign up</h1>
      <!--{% comment %} <p>A varification link has been sent to you email account</p> {% endcomment %} -->


      <form method="POST">
        {% csrf_token %}



         {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                  <strong><li>{{ message }}</li></strong>
              {% endfor %}
            </ul>
        {% endif %}


        {% if form.errors %}
            <div class="error-messages">
                 {% for field, errors in form.errors.items %}
                      {% for error in errors %}
              <strong><p>{{ error }}</p></strong>
                     {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        
      <!-- <div class="alert alert-danger">
        <strong>Error:</strong> Please correct the following issues:
        <ul>
          
        </ul>
      </div> -->
    

        <div class="username">
          <div class="icon"><i class="fas fa-user"></i></div>
          <div class="inputbox">{{form.username}}</div>


        </div>
        <div class="email">
          <div class="icon"><i class="fas fa-envelope"></i></div>
          <div class="inputbox">
            {{form.email}}
        </div></div>
        <div class="password">
          <div class="icon"><i class="fas fa-lock"></i></div>
          <div class="inputbox">
            {{form.password1}}
        </div>
      </div>
        <div class="passwordagain">
          <div class="icon"><i class="fas fa-lock"></i></div>
          <div class="inputbox">
            {{form.password2}}
        </div></div>
        <div>
          <button class="subbtn" type="submit">SignUp</button><br>
        </div>
      </form>
      <div class="social">
        <p class="socialP">Or Sign up with social platforms</p>
        <div class="icons">
          <div class="circle"><a href="#"><i class="fab fa-facebook-f"></i>
          </a></div>
          <div class="circle"><a href="#"><i class="fab fa-twitter"></i>
          </a></div>
          <div class="circle"><a href="#"> <i class="fab fa-google"></i></a></div>
          <div class="circle"><a href="#"><i class="fab fa-linkedin-in"></i></a></div>
        </div>
      </div>
    </div>
    </div>
    <div class="box2">
      <div class="oneAndSign">
        <div class="oneOfUs">
          <h2>One of us ?</h2>
          <p>Those who see possibilities where other see limitations deserve to Be one in A Million!</p>
        </div>
        <div class="signinBtn">
          <a href="{% url 'userauths:login' %}">SIGN IN</a>
        </div>
      </div>
        <img src="{% static 'authentication/img/register.svg' %}" class="img" alt="">
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/@barba/core"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
</html>