{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
  // Display Django messages including form errors using SweetAlert2
  {% if messages %}
      document.addEventListener('DOMContentLoaded', function() {
          {% for message in messages %}
              {% if message.tags == "error" %}
                  Swal.fire({
                      icon: 'error',
                      title: "{{ message|escapejs }}",
                      showConfirmButton: true, // Display a close button for errors
                  });
              {% else %}
                  Swal.fire({
                      icon: '{% if message.tags == "success" %}success{% elif message.tags == "warning" %}warning{% else %}info{% endif %}',
                      title: "{{ message|escapejs }}",
                      showConfirmButton: false,
                      // timer: 5000  
                  });
              {% endif %}
          {% endfor %}
      });
  {% endif %}
</script>
  <title>signup-Page</title>
</head>

<body>
  <div class="cir"></div>
  <div class="cir2"></div>

  <div class="main">
    <div class="box1">
      <div class="container">
      <div class="Bimg">
        <img src="{% static 'authentication/img/brand.png' %}" alt="" style="width: 150px;">
      </div>
      <h1>Sign up</h1>
      <!--{% comment %} <p>A varification link has been sent to you email account</p> {% endcomment %} -->


      <form method="POST">
        {% csrf_token %}


      <!-- <div class="alert alert-danger">
        <strong>Error:</strong> Please correct the following issues:
        <ul>
          
        </ul>
      </div> -->
    

        <div class="username">
          <div class="icon"><i class="fas fa-user"></i></div>
          <div class="inputbox">{{form.username}}</div>


        </div>
        <div class="email">
          <div class="icon"><i class="fas fa-envelope"></i></div>
          <div class="inputbox">
            {{form.email}}
        </div></div>
        <div class="password">
          <div class="icon"><i class="fas fa-lock"></i></div>
          <div class="inputbox">
            {{form.password1}}
            
        </div>
      </div>
        <div class="passwordagain">
          <div class="icon"><i class="fas fa-lock"></i></div>
          <div class="inputbox">
            {{form.password2}}
        </div></div>
        <div class="inbtn">
          <button class="subbtn" type="submit">Sign Up</button>
          <p class="pin" style="padding: 0 10px;">Or</p>
          <div  class="signinBtnpin">
            <a style="color: white;" href="{% url 'userauths:login' %}">Sign In</a>
          </div>
        </div>
      </form>
      <div class="social">
        <p class="socialP">Or Sign up with social platforms</p>
        <div class="icons">
          <!-- <div class="circle"><a href="#"><i class="fab fa-facebook-f"></i>
          </a></div>
          <div class="circle"><a href="#"><i class="fab fa-twitter"></i>
          </a></div> -->
          <div class="circle"><a href="{% url 'social:begin' 'github' %}"><i class="fab fa-github fa-2x"></i></a></div>
              <div class="circle"><a href="{% url 'social:begin' 'google-oauth2' %}"> <i class="fab fa-google"></i></a></div>
        </div>
      </div>
    </div>
    </div>
    <div class="box2">
      <div class="oneAndSign">
        <div class="oneOfUs">
          <h2>One of us ?</h2>
          <p>Those who see possibilities where other see limitations deserve to Be one in A Million!</p>
        </div>
        <div class="signinBtn">
          <a href="{% url 'userauths:login' %}">Sign In</a>
        </div>
      </div>
      <div class="image">
        <img src="{% static 'authentication/img/register.svg' %}" class="img" alt="">
      </div>
      </div>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'authentication/js/signup.js' %}"></script>
</html>