{% extends 'base.html' %} {% load static %} {% block content %}
<!-- logo -->
<!-- <div class="wep">
  <img src="{% static 'home/img/WEP-removebg.png' %}" alt="" srcset="" />
</div> -->
<section class="women">
  <div class="first-half">
    <div class="text-div">
      <h1>WOMEN <span>India's future</span></h1>
      <p>
        The exclusive learning platform for women's entrepreneurs!<br />
        Fuel your entrepreneurial spirit with BAOIAM - The launchpad for budding
        entrepreneurs: Learn, innovate, succeed."
      </p>
      <div class="btnAttend">
        <button>Attend Info Session</button>
      </div>
    </div>
    <div>
      <img src="{% static 'home/img/45.jpeg' %}" alt="" />
      <!-- <img src="../images/45.jpeg" alt="" /> -->
      <div class="image-info">
        <ul>
          <!-- <li id="name">Name Here</li> -->
          <!-- <li id="position">Position Here</li> -->
          <!-- <li>Info Here</li>
                      <li>Info Here</li> -->
          <!-- <li>Info Here</li> -->
        </ul>
      </div>
    </div>
  </div>

  <div class="second-half">
    <div class="text-div">
      <h1>Mentored by the <span>visionary entrepreneurs</span> of today</h1>
      <p>
        Harnessing the wisdom of today's entrepreneurial gems, a new era of
        startup-focused business education is born.
      </p>
    </div>
    <div class="images">
      <div class="first-image-div">
        <div class="each-image">
          <img src="{% static 'home/img/38.jpg' %}" alt="" />
          <!-- <img src="../images/38.jpg" alt="" /> -->
          <h2>Geeta Verma</h2>
          <p>Sales</p>
        </div>
        <div class="each-image">
          <img src="{% static 'home/img/12.jpg' %}" alt="" />
          <!-- <img src="../images/12.jpg" alt="" /> -->
          <h2>Sarasvati</h2>
          <p>Business Analytics</p>
        </div>
      </div>
      <div class="second-image-div">
        <div class="each-image">
          <img src="{% static 'home/img/8.jpg' %}" alt="" />
          <!-- <img src="../images/8.jpg" alt="" /> -->
          <h2>Durga</h2>
          <p>Product Management</p>
        </div>
        <div class="each-image">
          <img src="{% static 'home/img/22.jpg' %}" alt="" />
          <!-- <img src="../images/22.jpg" alt="" /> -->
          <h2>Radha Sharma</h2>
          <p>User Experience</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="second">
  <div class="text-div">
    <h1>Become a <span>budding</span> Startup Leader</h1>
    <p>
      Develop an entrepreneurial mindset and become a visionary leader that will
      build nation’s next unicorns
    </p>
  </div>
  <div class="features">
    <!-- <img class="quote" src="images/quote.png"> -->
    <ul>
      <li>
        <p>Visionary Thinking</p>
      </li>
      <li>
        <p>Creativity and Innovation</p>
      </li>
      <li>
        <p>Risk Management</p>
      </li>
      <li>
        <p>Resilience and Persistence</p>
      </li>
    </ul>
    <!-- <hr /> -->
    <ul>
      <li>
        <p>Adaptability</p>
      </li>
      <li>
        <p>Leadership</p>
      </li>
      <li>
        <p>Financial Management</p>
      </li>
      <li>
        <p>Networking and Relationship Building</p>
      </li>
    </ul>
    <ul>
      <li>
        <p>Communication and Salesmanship</p>
      </li>
      <li>
        <p>Problem Solving</p>
      </li>
      <li>
        <p>Product Management & Interpersonal Skills</p>
      </li>
      <li>
        <p>Leveraging AI & technology for automation</p>
      </li>
    </ul>
  </div>
</section>

<section class="third">
  <div class="text-div" id="ht">
    <h1>WEP: <span>WOMEN ENTREPRENURSHIP PROGRAM </span></h1>
    <h3>Importance of Entrepreneurship Programs for Women:  </h3>
  </div>
  <div class="program">
    <div class="program-text">
      <div>
        <p>
          Provide a platform for women to explore and pursue their passions.
          Equip women with essential skills and knowledge for navigating the
          business world. Foster financial independence, allowing women to
          control their futures autonomously. Entrepreneurial Mindset: Encourage
          a mindset that values teamwork and consistent goal-setting. Success
          involves setting and achieving small, consistent goals.
        </p>
      </div>
      <button>Unleash your potential</button>
    </div>
    <div id="thumbnail">
      <img src="{% static 'home/img/47.jpeg' %}" alt="" />
      <!-- <img src="../images/47.jpeg" alt="" /> -->
    </div>
  </div>
</section>

<!-- Slider1 -->
<div class="slider1">
  <h1>SNEAK PEEK OF <span>WEP</span></h1>
  <p class="textp">
    Provide a platform for women to explore and pursue their passions.
  </p>
  <div class="container">
    <input type="radio" name="dot" id="one" />
    <input type="radio" name="dot" id="two" />

    <div class="main-card">
      <div class="cards">
        <div class="card">
          <div class="content">
            <div>
              <h1>01</h1>
              <p class="bold">
                Importance of Entrepreneurship Programs for Women:
              </p>
              <p>
                Provide a platform for women to explore and pursue their
                passions. Equip women with essential skills and knowledge for
                navigating the business world. Foster financial independence,
                allowing women to control their futures autonomously.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div>
              <h1>02</h1>
              <p class="bold">
                Future Outlook for Women in Entrepreneurship Programs:
              </p>
              <p>
                Continued growth in women-owned businesses, contributing
                significantly to the economy. Increased opportunities and
                support for women entrepreneurs. Focus on digitalization as a
                facilitator for women-owned start-ups.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div>
              <h1>03</h1>
              <p class="bold">
                Opportunities Created by Entrepreneurship Programs:
              </p>
              <p>
                Building a trustworthy and talented team is key to success.
                Emphasizing communication, collaboration, and mutual elevation
                within the team. Acknowledging that teamwork is essential, and
                setting achievable goals consistently leads to success.
                <!-- Entrepreneurship programs open doors for women to establish
                their brands and contribute to various industries. Learning and
                adapting from experiences, building on smaller successes to
                achieve larger goals. -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Slider2 -->
<section class="slider2">
  <h1>BAOIAM’IONS <span>EXPERIENCE</span></h1>
  <div class="blog-slider">
    <div class="blog-slider__wrp swiper-wrapper">
      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img src="{% static 'home/img/28.jpg' %}" alt="" />
          <!-- <img src="../images/28.jpg" alt="" /> -->
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">26 December 2019</span>
          <div class="blog-slider__title">REVIEW</div>
          <div class="blog-slider__text">
            I would recommend all start-up businesses or any entrepreneur in the
            SMME sector to participate in this entrepreneurship program as it
            would help many run their businesses with a much more viable and
            realistic business model.
          </div>
          <a href="#" class="blog-slider__button">READ MORE</a>
        </div>
      </div>

      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img src="{% static 'home/img/3.jpg' %}" alt="" />
          <!-- <img src="../images/3.jpg" alt="" /> -->
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">26 December 2019</span>
          <div class="blog-slider__title">REVIEW</div>
          <div class="blog-slider__text">
            Being on this entrepreneurship bootcamp really shifted my mindset on
            a lot of things as an entrepreneur. I look at myself and my business
            in a different light, I really grow a lot and am really appreciative
            of BAOIAM for making this opportunity available for me.I have
            learned and also looking for more ways to grow as a person and
            business.
          </div>
          <a href="#" class="blog-slider__button">READ MORE</a>
        </div>
      </div>

      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img src="{% static 'home/img/intern2.jpg' %}" alt="" />
          <!-- <img src="../images/intern2.jpg" alt="" /> -->
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">26 December 2019</span>
          <div class="blog-slider__title">REVIEW</div>
          <div class="blog-slider__text">
            I had a wonderful experience throughout this entrepreneurship
            bootcamp and learned a lot from the team, coaches, and my fellow
            students. I loved the way the coaches engage with us and also that
            they were always willing to assist. I wouldn't have traded this for
            anything.
          </div>
          <a href="#" class="blog-slider__button">READ MORE</a>
        </div>
      </div>
    </div>
    <div class="blog-slider__pagination"></div>
  </div>
</section>

<!-- FAQ -->
<div class="wep-container-faq">
  <div class="wep-img-faq-box">
    <img id="wep-img-faq" src="{% static 'home/img/46.jpeg' %}" />
    <!-- <img id="wep-img-faq" src="../images/46.jpeg" /> -->
  </div>

  <div class="wep-content-faq">
    <h1>Frequently Asked <span>Questions</span></h1>
    <div class="wep-accordion-faq">
      <div class="wep-accordion-faq-item">
        <div class="wep-accordion-faq-item-header active">
          Q1. Do you guarantee placements?
        </div>
        <div class="wep-accordion-faq-item-body" style="max-height: 0px">
          <div class="wep-accordion-faq-item-body-content">
            We focus on top startup jobs, including roles such as Founder’s
            Office, Entrepreneur-In-Residence (EIR), Product Management (PM),
            P&amp;L Leaders, and Special Projects Leaders, among others. These
            roles typically offer an average CTC of over 20L and provide a
            platform for growth and development as a startup leader or founder.
          </div>
        </div>
      </div>
    </div>
    <div class="wep-accordion-faq">
      <div class="wep-accordion-faq-item">
        <div class="wep-accordion-faq-item-header">
          Q2. What kind of jobs will candidates get at the end of the program?
        </div>
        <div class="wep-accordion-faq-item-body" style="max-height: 0px">
          <div class="wep-accordion-faq-item-body-content">
            We focus on top startup jobs, including roles such as Founder’s
            Office, Entrepreneur-In-Residence (EIR), Product Management (PM),
            P&amp;L Leaders, and Special Projects Leaders, among others. These
            roles typically offer an average CTC of over 20L and provide a
            platform for growth and development as a startup leader or founder.
          </div>
        </div>
      </div>
    </div>
    <div class="wep-accordion-faq">
      <div class="wep-accordion-faq-item">
        <div class="wep-accordion-faq-item-header">
          Q3. Do we get to choose our 1:1 mentors from the industry?
        </div>
        <div class="wep-accordion-faq-item-body" style="max-height: 0px">
          <div class="wep-accordion-faq-item-body-content">
            Once we understand a student’s background and aspirations, we
            connect them with an industry expert who has followed a similar
            path. If a mentor is not found to be useful, we will find another
            one. Our goal is to provide students with the guidance necessary to
            succeed as a leader in the startup ecosystem.
          </div>
        </div>
      </div>
    </div>
    <div class="wep-accordion-faq">
      <div class="wep-accordion-faq-item">
        <div class="wep-accordion-faq-item-header">
          Q4. What does it mean when you say the program is "personalized"?
        </div>
        <div class="wep-accordion-faq-item-body" style="max-height: 0px">
          <div class="wep-accordion-faq-item-body-content">
            We work with students to create a target list of 20 companies/roles
            based on their experiences, skills, and background. We then tailor
            learning pathways and exercises to prepare them for these jobs, and
            personally reach out to recruiters at these companies to secure job
            interviews.
          </div>
        </div>
      </div>
    </div>
    <div class="wep-accordion-faq">
      <div class="wep-accordion-faq-item">
        <div class="wep-accordion-faq-item-header">Q5. How do I apply?</div>
        <div class="wep-accordion-faq-item-body" style="max-height: 0px">
          <div class="wep-accordion-faq-item-body-content">
            Our application process will go live soon! Register to attend an
            info session with us, and we will keep you updated as soon as the
            application link goes live!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
