{% extends 'base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{% static 'wep\css\style.css' %}" />
  <link rel="stylesheet" href="{% static 'wep\css\query.css' %}" />
  <script defer src="{% static 'wep\js\script.js' %}"></script>
   <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymous"
      defer
    ></script>

  <title>Document</title>
</head>

<body>
  <form class="popup-form" id="popup-form" action="{% url 'bootcamp:bootcamp' %}", method="post">
    {% csrf_token %}
    <div class="popup-form-content">
      <div class="close" id="popup-close">&times;</div>
      <lable for="name" id="name">Name</lable>
      <input id="name" type="text" name="name_"/>
      <lable for="email" id="email">Email</lable>
      <input id="email" type="email" name="email_"/>
      <lable for="mobile" id="mobile">Mobile</lable>
      <input id="mobile" type="text" name="mobile_"/>
      <label for="professionSelect" id="professionLabel">Profession</label>
      <select id="professionSelect" name="profession_">
        <option value="student">Student</option>
        <option value="teacher">Passed out</option>
        <option value="engineer">Working Professional</option>      
      </select>
      <button type="submit" class="popup-submit">Submit</button>
    </div>
  </form>
  <section class="section-one">
    <div class="topsection1-container">
      <div class="topsection1-image">
        <img src="{% static 'wep\Images\wep-backgroundimg.png' %}" alt="image" />
      </div>
      <div class="topsection1-content">
        <div class="content">
          <h1><span>ENTREPRENEURSHIP</span> Course</h1>
          <p>
            Welcome to <b>BAOIAM,</b> the premier learning platform exclusively
            for women entrepreneurs! Ignite your entrepreneurial spirit and embark
            on your journey to success. As a launchpad for aspiring entrepreneurs,
            we empower you to learn, innovate, and achieve success.
          </p>
          {% for bootcourse in courses %}
          {% if bootcourse.is_wep_main %}
          <div class="topsection1-button">
            <button class="interested" id="button-one" onclick="openForm()">I AM INTERESTED</button>
            <a href="{% url 'bootcamp:download_file' %}"><button class="broucher">DOWNLOAD BROUCHER</button></a>
            {% endif %}
            {% endfor %}
          </div>
        </div>

      </div>
  </section>

  <section class="section-two">
    <img src="{% static 'wep\Images\wep_section2.png' %}" alt="" />
    <div>
      <h2><span class="underline">Program</span> Overview</h2>
      <p>
        Our Entrepreneurship Courses are formulated in a way that can be easily studied and comprehended. We offer a plethora of courses that are skill-centric and are purely based on practical applications. Students can learn new skills or even hone their existing skills. This gives them a chance to build a strong skillset that can propel them to a new level in their professional lives. 
      </p>
      <h6>⏳ Enrollment Deadline Approching Soon!</h6>
    </div>

    <div class="circle_one"></div>
    <div class="circle_two"></div>
  </section>

  <section class="section-three">
    <div>
      <h2><span class="underline"> Course </span> Highlights</h2>
      <ul>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div class="divide">
            <h4>Live online classes </h4>
            <p>learn from our experts live</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div class="divide">
            <h4>Doubt clearing sessions </h4>
            <p>get all your doubts cleared by your experts</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div class="divide">
            <h4>Investment support </h4>
            <p>get investment support for your startups</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div class="divide">
            <h4>Internships</h4>
            <p>get hands – on experience by working in several firms</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div class="divide">
            <h4>Certificate of Completion </h4>
            <p>validated your skills with a recognized certification</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div class="divide">
            <h4>Letter of recommendation </h4>
            <p>enhance your credibility with endorsements from professionals</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div class="divide">
            <h4>Mentorship sessions</h4>
            <p>Guidance from industry experts</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div class="divide">
            <h4>Live projects</h4>
            <p>Hands on live project with expert guidance
            </p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div class="divide">
            <h4>Digital resource hub</h4>
            <p>Best digital materials for learning and exploration</p>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>
          <div class="divide">
            <h4>Beginner friendly</h4>
            <p>Best suitable for freshers</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <!-- <section class="section-four">
    <h2>Curriculum</h2>
    <p>A Structured Plan Outlining the Educational Components And Learning Objectives For A <br>Specific Course Or
      Program.</p>
    <div class="curriculum_container">
      <div class="curriculum_box">
        <div class="curriculum">Basic</div>
        <h4 class="rate">1,999</h4>
        <div class="duration">3 Months</div>
      </div>
      <div class="curriculum_box">
        <div class="curriculum">Premium</div>
        <h4 class="rate">7,999</h4>
        <div class="duration">5 Months</div>
      </div>
  </section> -->

  <section class="section-four">
    <div class="slider1">
      <h1 class="importance"><span class="imp underline">Importance </span><span class="opp">and Opportunities</span></h1>
      <div class="container">
        <input type="radio" name="dot" id="one">
        <input type="radio" name="dot" id="two">
  
        <div class="main-card">
          <div class="cards">
            <div class="card">
              <div class="content">
                <div>
                  <h1>01</h1>
                  <div class="bold">
                    Importance of Entrepreneurship Programs for Women
                  </div>
                  <p>
                    Provide a platform for women to explore and pursue their
                    passions. Equip women with essential skills and knowledge
                    for navigating the business world. Foster financial
                    independence, allowing women to control their futures
                    autonomously.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="content">
                <div>
                  <h1>02</h1>
                  <div class="bold">
                    Future Outlook for Women in Entrepreneurship Programs
                  </div>
                  <p>
                    Continued growth in women-owned businesses, contributing
                    significantly to the economy. Increased opportunities and
                    support for women entrepreneurs. Focus on digitalization as
                    a facilitator for women-owned start-ups.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="content">
                <div>
                  <h1>03</h1>
                  <div class="bold">
                    Opportunities Created by Entrepreneurship Programs
                  </div>
                  <p>
                    Building a trustworthy and talented team is key to success.
                    Emphasizing communication, collaboration, and mutual
                    elevation within the team. Acknowledging that teamwork is
                    essential, and setting achievable goals consistently leads
                    to success. Entrepreneurship programs open doors for women
                    to establish their brands and contribute to various
                    industries. Learning and adapting from experiences, building
                    on smaller successes to achieve larger goals.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section-entrepreneur">
    <div class="content">
      <h2><span class="underline">Women</span> Entrepreneurship Program</h2>
      <p>
        Our Women Entrepreneurship Program aims to support and empower women in starting and growing their businesses. This program is specially pieced together by our experts to guide our women entrepreneurs and to teach them to build their strong business empires. It typically includes mentorship, training, and resources to enhance skills, foster networking, and overcome challenges women may face in the business world. The goal is to promote economic independence and gender equality. </p>
      <h6>⏳ Enrollment Deadline Approching Soon!</h6>
    </div>
    <div class="image">
    <img src="{% static 'wep\Images\img2.jpg' %}" alt="" />
    </div>
    
    <div class="circle_one"></div>
    <div class="circle_two"></div>
  </section>

  <section class="section-five">
    <h2> Our 
    <span class="underline">Testimonials</span></h2>
    <div class="temp">
      <i id="left" class="fa-solid fa-angle-left left"></i>
      <i id="right" class="fa-solid fa-angle-right right"></i>
      <div class="carousel" id="testi">
          {% for testimonial in testimonials %}
        <div class="testimonials">
            <div class="details">
                {% if testimonial.image.url %}
                    <img src="{{ testimonial.image.url }}"/>
                {% endif %}
                <h4>{{ testimonial.name }}</h4>
                <h6>{{ testimonial.designation }}</h6>
            </div>
            <p>
                {{ testimonial.text }}
            </p>
        </div>
    {% endfor %}
      </div>
  </div>
</section>

  <!-- <section class="section-six">
      <div>
        <h2>Program <span>Certification</span></h2>
      </div>
    </section> -->

    <section class="section-seven">
      <div class="circle_three"></div>
      <div class="circle_four"></div>
      <h2>
        Join With Us
        Find the <span class="underline">Right Course</span>
      </h2>
      <div class="slider_wrapper">
          <div class="splide">
              <div class="splide__track">
                  <div class="splide__list">
                      {% for subscription_plan_bootcamp in subscription_plans_bootcamp %}
                      <div class="splide__slide">
                          <div class="content-box">
                              <div class="content">
                                <div class="wep-inner-content">
                                  <div class="slide-name">{{ subscription_plan_bootcamp.subscription_plan.name }}</div>
                                  <div class="temp">{{ subscription_plan_bootcamp.bootcamp_course.title }}</div>
                                  <div class="price">{{ subscription_plan_bootcamp.subscription_plan.price}}/-<span class="name-span">Full course</span></div>
                                     {% if subscription_plan_bootcamp.subscription_plan.name == "Plus" %}
                                     <ul class="course-content">
                                      <li>{{ subscription_plan_bootcamp.subscription_plan.description|linebreaks }}</li>
                                     </ul>
                                        
                                      {% elif subscription_plan_bootcamp.subscription_plan.name == "Plus Combo" %}
                                      <ul class="course-content">
                                        <li>{{ subscription_plan_bootcamp.subscription_plan.description|linebreaks }}</li>
                                       </ul>

                                      {% elif subscription_plan_bootcamp.subscription_plan.name == "Premium" %}
                                      <ul class="course-content">
                                        <li>{{ subscription_plan_bootcamp.subscription_plan.description|linebreaks }}</li>
                                       </ul>

                                      {% elif subscription_plan_bootcamp.subscription_plan.name == "Premium Combo" %}
                                      <ul class="course-content">
                                        <li>{{ subscription_plan_bootcamp.subscription_plan.description|linebreaks }}</li>
                                       </ul>
                                       
                                      {% endif %}
                                 
                                </div>
                                  
                                  <form id="enroll-form" class="wep-enroll-btn" method="POST" action="/subscription/purchase_bootcourse_record/">
                                      {% csrf_token %}
                                      <input type="hidden" name="course_id" id="course_id" value="{{ subscription_plan_bootcamp.bootcamp_course.id }}">
                                      <input type="hidden" name="plan_id" id="plan_id" value="{{ subscription_plan_bootcamp.subscription_plan.id }}">
                                      <input type="hidden" name="username" id="username" value="{{ request.user.username }}">
                                      <button type="submit" class="btn-1">Enroll Now</button>
                                    </form>
                               
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                  </div>
              </div>
          </div>
      </div>
  </section>

    <div class="emi-container">
      <div class="emi_box">
        <h2 class="emi">Easy EMI</h2>
        <div class="key_features">easy monthly payment options with our emi facilities
          <ul class="emi_features">
            <li>No upfront payment required</li>
            <li>Fixed monthly installments</li>
            <li>Flexible repayment options</li>
          </ul>
        </div>
      </div>
      <!-- <div class="emi_box">
        <h2 class="emi">Pay After Placement</h2>
        <div class="key_features">key features
          <ul class="emi_features">
            <li>With our Pay After Placement program, you invest in your career development now and pay us only when yoy
              land a job.</li>
          </ul>
        </div>
      </div> -->
    </div>
    <div class="circle_five"></div>
    </div>
  </section>

  <section class="amazing_career">
    <div class="amazing-container">
      <h2 class="amazing_heading">Amazing <span class="underline">Career</span></h2>
      <!-- <div class="awaits">Awaits!</div> -->
      <p class="grab_offer">
        Grab these exclusive offers available only once a year.
      </p>
      <div class="buy_course_container">
        <div class="buy_course_box">
          <div class="buy_course">BUY 2 COURSES & GET</div>
          <div class="percentage">15%</div>
          <h4 class="off">OFF</h4>
        </div>
        <div class="buy_course_box">
          <div class="buy_course">BUY 3 COURSES & GET</div>
          <div class="percentage_3">20%</div>
          <h4 class="off">OFF</h4>
        </div>
        <div class="buy_course_box">
          <div class="buy_course">BUY 4 COURSES & GET</div>
          <div class="percentage">25%</div>
          <h4 class="off">OFF</h4>
        </div>
      </div>
      <div class="timer" id="countdown">
        <div>
          <p id="days">20</p>
          <p>days</p>
        </div>
        <span>:</span>
        <div>
          <p id="hours">12</p>
          <p>hours</p>
        </div>
        <span>:</span>
        <div>
          <p id="minutes">21</p>
          <p>minutes</p>
        </div>
        <span>:</span>
        <div>
          <p id="seconds">54</p>
          <p>seconds</p>
        </div>
      </div>
      <!-- <button class="btn-3">GRAB THE DEAL</button> -->
    </div>
  </section>

  <script>
    // Set the date we're counting down to
    var countDownDate = new Date("April 4, 2024 00:00:00").getTime();

    // Update the countdown every 1 second
    var x = setInterval(function () {
      // Get the current date and time
      var now = new Date().getTime();

      // Calculate the remaining time
      var distance = countDownDate - now;

      // Calculate days, hours, minutes, and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Update the HTML elements with the calculated values
      document.getElementById("days").innerHTML = days;
      document.getElementById("hours").innerHTML = hours;
      document.getElementById("minutes").innerHTML = minutes;
      document.getElementById("seconds").innerHTML = seconds;

      // If the countdown is over, display a message
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("countdown").innerHTML = "EXPIRED";
      }
    }, 1000);
  </script>

  <div class="section-nine">

    <div class="ac-main">
      <h1>Frequently Asked <span class="underline">Questions</span></h1>
    </div>
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-item-header">
          Q1. How does the Entrepreneurship program work?
        </div>
        <!-- /.accordion-item-header -->
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            Our Entrepreneurship Courses are formulated in a way that can be easily studied and comprehended. We offer a
            plethora of courses that are skill-centric and are purely based on practical applications.
          </div>
        </div>
        <!-- /.accordion-item-body -->
      </div>
      <!-- /.accordion-item -->
    </div>
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-item-header">
          Q2. How does the 'Women Entrepreneurship Program' work?
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            The WEP is specifically formulated for our Women Entrepreneurs who wish to build their own startup. Head over
            to the WEP section to know more.
          </div>
        </div>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-item-header">
          Q3. What is the procedure for signing up on the website?
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            The sign-up procedure for our website consists of 4 simple steps:
            <ul>
              <li>Go to our website and click on the Login button and then the Signup button or just click this link <a
                  href="http://www.baoiam.com/Login/index.html">http://www.baoiam.com/Login/index.html</a></li>
              <li>Enter a Username of your choice.</li>
              <li>Enter your Email ID.</li>
              <li>Create a strong password with uppercase, lowercase, numbers, and special characters.</li>
              <li>Click on Sign up and there you go, you are now a part of the Baoiam family.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-item-header">
          Q4. How do I enroll or register, if I am interested in an online course?
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            The enrollment process is as easy as the sign-up process.
            <ul>
              <li>Take a Dashboard tour and head to the Courses section.</li>
              <li>You will find a wide range of specially curated courses.</li>
              <li>Explore them and choose the one you like.</li>
              <li>Click on Enroll Now.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-item-header">
          Q5. What kind of skill-based courses do you offer?
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            We offer a wide range of courses like Web Development, Data Analytics, Graphic Designing, Content Writing,
            UI/UX and many more. Head to the Courses section to explore many such skills-centric courses
          </div>
        </div>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-item-header">
          Q6. Can I opt for more than one course at a time?
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            Yes, we at Baoiam do not limit your potential and therefore give you the option to choose multiple courses at
            a time. <br>
            We also provide with options where you can get various discounts by buying multiple courses together.
          </div>
        </div>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-item-header">
          Q7. How long does each course take?
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            Each course is timed differently depending on the lessons, modules and degree of difficulty. The duration of
            each course is mentioned on their respective course pages.
          </div>
        </div>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-item-header">
          Q8. Do you provide any study material?
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            Yes, we do provide study material that can be downloaded and accessed by you at any time
          </div>
        </div>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-item-header">
          Q9. Are the classes live or recorded?
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            We have live classes as it involves interaction and engagement.
          </div>
        </div>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-item-header">
          Q10. Will I gain access to the recorded sessions if I'm unable to attend the live classes?
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            Yes, we understand that juggling your college studies or work and course studies might be hard, so you will be
            able to access the recorded sessions.
          </div>
        </div>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-item-header">
          Q11. Will there be regular doubt-clearing sessions?
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            Yes, the doubt-clearing session is one of the key features of Baoiam, as we don't want our students to have
            half-baked knowledge
          </div>
        </div>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-item-header">
          Q12. Will I get a 'Certificate of Completion' after completing the course?
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            Yes, you will get a Certificate of Completion only after you attend all classes, complete the assignments and
            projects and get good scores on the tests.
          </div>
        </div>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-item-header">
          Q13. How helpful will the Certificate be in future?
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            This Certificate can pave the way to your desired career, as you will be trained and highly skilled in your
            respective field.
          </div>
        </div>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-item-header">
          Q14. How can I earn through the 'Refer and Earn' program?
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            Create an account on Baoiam and then go to the Refer and Earn page.
            <ul>
              <li>Enter your Email ID and generate the referral code.</li>
              <li>Share this code with your friends.</li>
              <li>If they get enrolled using your code, you earn exciting cash prizes.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-item-header">
          Q15. How do I contact Customer Care for technical or payment issues?
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            Send us an email: <a href="mailto:tutors@baoiam.com">tutors@baoiam.com</a> <br>
            Give us a ring: <a href="tel:+91-8062179867">+91-8062179867</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>

  <script>


    function openForm() {
      document.getElementById("popup-form").style.display = "block";
    }

    document.getElementById("popup-close").addEventListener("click", function () {
      document.getElementById("popup-form").style.display = "none";
    });

    function closeForm() {
      document.getElementById("popup-form").style.display = "none";
    }


    var accordionItemHeaders = document.querySelectorAll(".accordion-item-header");

    accordionItemHeaders.forEach((accordionItemHeader) => {
      accordionItemHeader.addEventListener("click", () => {
        const isActive = accordionItemHeader.classList.contains("active");

        closeAllAccordionItems();

        if (!isActive) {
          accordionItemHeader.classList.add("active");
          const accordionItemBody = accordionItemHeader.nextElementSibling;
          accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
        }
      });
    });

    function closeAllAccordionItems() {
      const activeAccordionItemHeader = document.querySelector(".accordion-item-header.active");
      if (activeAccordionItemHeader) {
        activeAccordionItemHeader.classList.remove("active");
        activeAccordionItemHeader.nextElementSibling.style.maxHeight = 0;
      }
    }


  </script>
</body>

</html>
{% endblock content %}