footer {
    display: relative;
    background-color: #000121;
    /* height: 100vh; */
  }
  
  a:link {
    text-decoration: none;
  }
  .footer-container {
    padding-top: 9rem !important;
    padding: 1rem 4%;
  }
  
  .footer-end-container {
    padding: 1rem 6%;
    /* border: 1px solid white; */
    color: #fff;
    margin: 0 auto;
    text-align: center;
  }
  footer .row h6 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  #hr-line {
    width: 60px;
    background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
    height: 1.5px;
  }
  
  footer .contact-us p i {
    background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
    font-weight: 700;
  }
  
  footer .contact-us p div i {
    background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
    font-weight: 700;
  }
  
  .footer-end {
    background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
  }
  
  .social {
    padding-right: 5px;
  }
  
  .social a {
    height: 37px;
    width: 37px;
    background: #fa2424;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    border-radius: 15px;
    margin-top: 20px;
    transition: 1s;
  }
  
  .social a:hover {
    background: #fff;
    color: #fa2424;
  }
  
  /* SUBSCRIBE */
  
  .subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 4rem;
    margin-bottom: -5rem;
    background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
    border-radius: 15px;
    color: #fff;
  }
  
  #subscribe h2 {
    font-weight: 700;
  }
  
  .form {
    display: grid;
    background: #ffffff;
    padding: 5px 5px;
    border-radius: 10px;
  }
  
  .form input {
    border-radius: 5px;
    border-style: none;
    color: rgb(29, 29, 29);
    background-color: white;
    padding: 9px 2.5rem;
    outline: none;
    width: 100%;
  }
  
  .btn-3 {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5em 1.5em;
    background: -webkit-linear-gradient(45deg, #ff0000, #ff8000);
    -webkit-text-fill-color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: 3s;
  }
  
  .btn-3:hover {
    background: -webkit-linear-gradient(45deg, #ff8000, #ff0000);
  }
  
  .btn-1 {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8em 2em;
    background: -webkit-linear-gradient(45deg, #ff0000, #ff8000);
    -webkit-text-fill-color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: 3s;
    /* border: 5px solid red; */
  }
  
  .btn-1:hover {
    background: -webkit-linear-gradient(45deg, #ff8000, #ff0000);
  }