.profile-btn {
  border: none;
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: contain;
  background-image: url("https://imgs.search.brave.com/bBwjQS6d54TnFs1zTzunF8dKE8Ftkr0QB4qUbRMJJYQ/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93d3cu/YmhhZ3dhbmtpcGhv/dG9zLmNvbS93cC1j/b250ZW50L3VwbG9h/ZHMvMjAxOC8xMi9Q/YXdhbnN1dC1IYW51/bWFuYS1QaG90by1J/bWFnZS1IRC5qcGc");
  box-shadow: 2px 4px 4px grey;
  border: 3px solid white;
}

#profile {
  height: 65px;
}

#profile-dropdown {
  padding: 70px 0px 0px 10px;
  float: right;
  display: none;
}

#profile-content {
  font-size: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-content: center;
  width: 130px;
  height: 120px;
  /* padding: 6px; */
  background-color: #fff;
  /* border: 1px solid rgb(210, 207, 207); */
}

#profile-dropdown-item {
  padding: 6px;
}

#profile-dropdown-item:hover {
  background-color: rgb(230, 228, 228);
}
