.wep-container-faq {
    display: flex;
    display: grid;
    grid-template-columns: 35% 60%;
    gap: 5rem;
    justify-content: center;
    margin: 50px 75px 50px 95px;
    
}
.wep-img-faq-box {
    /* width: 40%; */
    width: 100%;
    margin: 100px 0;
    vertical-align: middle;
    border-style: none;
    float: left;
  
}
#wep-img-faq {
    width: 600px;
    height: 500px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 5px;
    border-radius: 50%;
   
}


.wep-content-faq h1 {
    margin-top: 50px;
    font-size: 45px;
    /* font-size: 50px; */
    text-align: center;
    color: #031864;
    font-weight: bold;
}
.wep-content-faq h1 span {
    font-size: 45px;
    /* font-size: 50px; */
    background: -webkit-linear-gradient(45deg, #fa2424, #fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid red;
}


.wep-accordion-faq {
    overflow-anchor: none;
}
.wep-accordion-faq {
    width: 72%;
    max-width: 1000px;
    margin: 2rem auto;
}
.wep-accordion-faq-item {
    background-color: #fff;
    color: #050237;
    margin: 1rem 0;
    border:  solid rgb(251, 96, 13);
    border-radius: 2rem ;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.wep-accordion-faq-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 17px;
}
.wep-accordion-faq-item-header:hover {
    color: rgb(251, 96, 13);
    font-size: 1.05rem;
}
.wep-accordion-faq-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}
.wep-accordion-faq-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: black;
    font-weight: 500;
}
.wep-accordion-faq-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}


  @media screen and (max-width: 800px){
.wep-container-faq {
    grid-template-columns: 1fr;
}}
@media screen and (max-width: 1260px){
.wep-container-faq {
    flex-direction: column-reverse;
    margin: 10px 10px;
}}
@media screen and (max-width: 1260px){
.wep-container-faq {
   
    gap: 0rem;
}}
@media screen and (max-width: 800px){
.wep-container-faq .img-faq-box {
    margin: 0 ;
    width: 100%;
}}
@media screen and (max-width: 1260px){
.wep-img-faq-box {
    width: 100%;
    margin: 50px 0;
    height: 80%;
}}
@media screen and (max-width: 600px){
#wep-img-faq {
 
    height: 100%;
}}
@media screen and (max-width: 1260px){
#wep-img-faq {
    width: 100%;
}}
@media screen and (max-width: 600px){
    .wep-content-faq h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-top: 0px;
    text-align: center;
    color: #031864;
    font-weight: bold;
}}
@media screen and (max-width: 600px){
.wep-content-faq h1 span {
    font-size: 2rem;
}}
@media screen and (max-width: 600px){
.wep-accordion-faq {
    width: 100%;
    max-width: 1000px;
    margin: 2rem 10px;
}}
@media screen and (max-width: 600px){
.wep-accordion-faq-item-header {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}}
@media screen and (max-width: 800px){
.wep-accordion-faq-item-header{
    font-size: 1.2rem;
}}
@media screen and (max-width: 600px){
    .wep-content-faq {
        width: 100%;
float: left;
    }}
    @media screen and (max-width: 600px){
        .wep-accordion-faq-item-header:hover, .wep-accordion-faq-item-header::after, .wep-accordion-faq-item-body-content {
        font-size: 1.2rem;
    }}