@media screen and (max-width: 1260px) {
  .homepage {
    margin: 50px 50px;
    /* background: url("/abstract-background-illustration-watercolor-blue-green.jpg"); */
    margin-top: 100px;
  }
  .container-main {
    grid-template-columns: 40% 60%;
    gap: 0rem;
  }
  .refer_row {
    flex-direction: column;
  }

  .rf_col {
    width: 90%;
    margin: 40px 0;
  }

  .rf_col2 {
    width: 90%;
    float: none;
  }

  .rf_col2 img {
    width: 90%;
  }

  /* HOW REFER WORK */

  .how {
    padding: 60px 40px;
    margin-bottom: 10px;
    /* background: url("/abstract-background-illustration-watercolor-blue-green.jpg"); */
  }

  .titale h2 {
    font-size: 45px;
  }

  .titale h2 span {
    font-size: 45px;
  }

  .titale p {
    padding: 0 50px;
  }

  /* Why Baoiam */

  .why {
    padding: 50px 50px;
  }

  .why_list {
    flex-direction: column;
  }

  .list2 img {
    margin-top: 50px;
    width: 90%;
    float: none;
  }

  /* FAQ */
  .container-main {
    flex-direction: column-reverse;
    margin: 10px 50px;
  }

  .img {
    width: 100%;
    margin: 50px 0;
  }

  .img img {
    width: 100%;
  }
}

@media screen and (max-width: 1090px) {
  .splide__slide {
    width: 45% !important;
    margin: 20px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .container-main {
    grid-template-columns: 1fr;
  }
  .container-main .img {
    margin: 0 auto;
    width: 35rem;
  }
  .accordion-item-header {
    font-size: 1.2rem;
  }
  .accordion-item-header:hover {
    font-size: 1.2rem;
  }
  .accordion-item-body-content {
    font-size: 1rem;
  }
}

@media screen and (max-width: 621px) {
  .splide__slide {
    width: 90% !important;
    margin: 25px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .ac-main h1 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    margin-top: 0px;
    text-align: center;
    color: #031864;
    font-weight: bold;
  }
  
  @media (max-width: 420px) {
  .ac-main h1 {
    font-size:2rem;
    padding-bottom: 4rem;
  }

  /* .ac-main h1 span{
    font-size: 2rem;
  } */
}

  .ac-main h1 span {
    font-size: 2.5rem;
  }

  .accordion {
    width: 100%;
    max-width: 1000px;
    margin: 2rem 10px;
  }

  .accordion-item-header {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
  .accordion-item-body-content {
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
  }
  .img img {
    display: none;
  }
  .accordion-item-header:hover {
    font-size: 15px;
  }
}

@media screen and (max-width: 621px) {
  .splide__slide {
    width: 90% !important;
    margin: 25px;
    display: flex;
    justify-content: center;
  }
}
